<template name="tripHistoryStudent">
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
        <!-- begin:: Subheader -->
        <div class="kt-subheader   kt-grid__item" id="kt_subheader">
            <div class="kt-container  kt-container--fluid ">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">

                        Phụ huynh </h3>

                    <span class="kt-subheader__separator kt-hidden"></span>
                    <div class="kt-subheader__breadcrumbs">
                        <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                        <span class="kt-subheader__breadcrumbs-separator"></span>
                        <a href="" class="kt-subheader__breadcrumbs-link">
                            SchoolBus </a>
                        <span class="kt-subheader__breadcrumbs-separator"></span>
                        <a href="" class="kt-subheader__breadcrumbs-link">
                            Lịch sử chuyến đi</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end:: Subheader -->
        <div id="historyTrip">
            <!-- begin:: Content -->
            <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
                <div class="row">
                    <div class="col">

                        <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">
                                        {{#if hasData}}
                                        Lịch sử chuyến đi của {{studentName}}
                                        {{else}}
                                        
                                        {{/if}}
                                    </h3>
                                </div>
                            </div>

                            <div class="kt-portlet__body">
                                <!--begin::Section-->
                                {{#if hasData}}
                                123
                                {{else}}
                                <div class="alert alert-custom alert-secondary fade show mb-5" role="alert">
                                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                                    <div class="alert-text">Không có dữ liệu!</div>
                                    <div class="alert-close">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                                        </button>
                                    </div>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>

                <!--{{> listStudent}}-->
            </div>


            <!-- end:: Content -->
        </div>
        <!--{{> editListModal}}
    {{> editStudentListModal}}-->
    </div>
</template>