<template name="route">
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
        <!-- begin:: Subheader -->
        <div class="kt-subheader   kt-grid__item" id="kt_subheader">
            <div class="kt-container  kt-container--fluid ">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">Quản lý cung đường</h3>
                    <span class="kt-subheader__separator kt-hidden"></span>
                    <div class="kt-subheader__breadcrumbs">
                        <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                        <span class="kt-subheader__breadcrumbs-separator"></span>
                        <a href="" class="kt-subheader__breadcrumbs-link">
                            SchoolBus </a>
                        <span class="kt-subheader__breadcrumbs-separator"></span>
                        <a href="" class="kt-subheader__breadcrumbs-link">Quản lý cung đường</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end:: Subheader -->

        <!-- begin:: Content -->
        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
            <div class="row">
                <div class="col">

                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Danh sách cung đường
                                </h3>
                            </div>
                        </div>

                        <div class="kt-portlet__body">
                            <!--begin::Section-->
                            <div class="kt-section">
                                <div class="kt-section__content">
                                    <button type="button" class="btn btn-outline-brand mb-4" id="addRouteButton">Thêm
                                        mới</button>

                                    <div class="kt-datatable kt-datatable--default kt-datatable--brand">
                                        <p id="empty-data" class="text-muted font-14 d-none">
                                            Không có dữ liệu
                                        </p>
                                        <table class="table table-bordered table-hover table-responsive-md" id="routeTable">
                                            <thead class="thead-light">
                                                <tr class="text-center">
                                                    <th>#</th>
                                                    {{#if isSuperadmin}}
                                                    <th>Trường</th>
                                                    {{/if}}
                                                    <th>Tên cung đường</th>
                                                    <th>Xe</th>
                                                    <th>Tài xế</th>
                                                    <th>Bảo mẫu</th>
                                                    <th>Nhóm học sinh</th>
                                                    <th>Điểm bắt đầu</th>
                                                    <th>Điểm kết thúc</th>
                                                    <th width="13%">Hành động</th>
                                                </tr>
                                            </thead>
                                            <tbody id="routeData">
                                                {{#each routeList}}
                                                {{> routeRow}}
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!--end::Section-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end:: Content -->
    </div>
    {{> routeModal}}
</template>

<template name="routeModal">
    <div class="modal fade" id="routeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cung đường</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        {{#if isSuperadmin}}
                        <div class="form-group row">
                            <label for="example-tel-input" class="col-3 col-form-label required-input-label">Chọn
                                trường</label>
                            <div class="col-9">
                                <select class="form-control" name="school" id="school-input">
                                    <option value=""></option>
                                    {{#each schools}}
                                    <option value="{{_id}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        {{/if}}
                        <div class="form-group row">
                            <label for="route-name" class="col-3 required-input-label">Tên cung
                                đường:</label>
                            <div class="col-9">
                                <input type="text" class="form-control" id="route-name" placeholder="Tên cung đường">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3 required-input-label">Gán xe</label>
                            <div class="col-9">
                                <select class="custom-select form-control" id="carSelect">
                                    <option value=""></option>
                                    {{#each cars}}
                                    <option value="{{_id}}">{{carModel.brand}} - {{carModel.model}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3 required-input-label">Gán tài xế</label>
                            <div class="col-9">
                                <select class="custom-select form-control" id="driverSelect">
                                    <option value=""></option>
                                    {{#each drivers}}
                                    <option value="{{_id}}">{{user.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3  required-input-label">Gán bảo mẫu</label>
                            <div class="col-9">
                                <select class="custom-select form-control" id="nannySelect">
                                    <option value=""></option>
                                    {{#each nannys}}
                                    <option value="{{_id}}">{{user.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3 required-input-label">Chọn nhóm học sinh</label>
                            <div class="col-9">
                                <select class="custom-select form-control" id="studentListSelect">
                                    <option value=""></option>
                                    {{#each studentList}}
                                    <option value="{{_id}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3 required-input-label">Loại cung đường</label>
                            <div class="col-9">
                                <select class="custom-select form-control" id="routeTypeSelect">
                                    <option value="0">Lượt đi</option>
                                    <option value="1">Lượt về</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3 required-input-label">Điểm bắt đầu</label>
                            <div class="col-9">
                                <select class="custom-select form-control" id="startCarStop">
                                    <option value=""></option>
                                    {{#each carStopList}}
                                    <option value="{{_id}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3 required-input-label">Điểm kết thúc</label>
                            <div class="col-9">
                                <select class="custom-select form-control" id="endCarStop">
                                    <option value=""></option>
                                    {{#each carStopList}}
                                    <option value="{{_id}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" id="routeModalSubmit">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="routeRow">
    <tr id="{{_id}}">
        <th class="text-center">{{index}}</th>
        {{#if isSuperadmin}}
        <td>{{school.name}}</td>
        {{/if}}
        <td>{{name}}</td>
        <td>{{car.numberPlate}}</td>
        <td>{{driver.user.name}}</td>
        <td>{{nanny.user.name}}</td>
        <td>{{studentList.name}}</td>
        <td>{{startCarStop.name}}</td>
        <td>{{endCarStop.name}}</td>
        <td class="text-center">
            <button type="button" class="btn btn-sm btn-outline-brand modify-button" routeID="{{_id}}"
            routeName="{{name}}" schoolID="{{school._id}}" carID="{{car._id}}" driverID="{{driver._id}}"
            nannyID="{{nanny._id}}" studentListID="{{studentList._id}}" routeType="{{type}}" startCarStopID="{{startCarStopID}}" endCarStopID="{{endCarStopID}}"
            >Sửa</button>
            <button type="button" class="btn btn-sm btn-outline-danger delete-button" routeID="{{_id}}">Xóa</button>
        </td>
    </tr>
</template>


<template name="routeFilter">
    {{#if isSuperadmin}}
    <div class="form-group mb-2">
        <label for="admin-parent-route" class="col-form-label">Trường</label>
        <select class="form-control filter-input" id="school-filter">
            <option value="">Chọn trường</option>
            {{#each schools}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>
    </div>
    {{/if}}
    <div class="form-group mb-2">
        <label for="" class="col-form-label">Tên cung đường</label>
        <input class="form-control filter-input" type="text" placeholder="Tên cung đường" id="name-filter">
    </div>
    <div class="form-group mb-2">
        <label for="" class="col-form-label">Xe</label>
        <input class="form-control filter-input" type="text" placeholder="Xe" id="car-filter">
    </div>
    <div class="form-group mb-2">
        <label for="" class="col-form-label">Tài xế</label>
        <input class="form-control filter-input" type="text" placeholder="Tài xế" id="driver-filter">
    </div>
    <div class="form-group mb-2">
        <label for="" class="col-form-label">Bảo mẫu</label>
        <input class="form-control filter-input" type="text" placeholder="Bảo mẫu" id="nanny-filter">
    </div>
    <div class="form-group mb-2">
        <label for="" class="col-form-label">Nhóm học sinh</label>
        <input class="form-control filter-input" type="text" placeholder="Nhóm học sinh" id="studentList-filter">
    </div>
    <div class="form-group mb-2">
        <label for="" class="col-form-label">Loại cung đường</label>
        <select class="form-control filter-input" placeholder="Nhóm học sinh" id="studentType-filter">
            <option value="0">Lượt đi</option>
            <option value="1">Lượt về</option>
        </select>
    </div>
    <div class="form-group mt-4">
        <button type="submit" class="btn btn-primary btn-sm" id="filter-button">Tìm kiếm</button>
        <button type="submit" class="btn btn-success btn-sm" id="refresh-button">Refresh</button>
    </div>
</template>