<template name="route">
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
        <!-- begin:: Subheader -->
        <div class="kt-subheader   kt-grid__item" id="kt_subheader">
            <div class="kt-container  kt-container--fluid ">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">Quản lý cung đường</h3>
                    <span class="kt-subheader__separator kt-hidden"></span>
                    <div class="kt-subheader__breadcrumbs">
                        <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                        <span class="kt-subheader__breadcrumbs-separator"></span>
                        <a href="" class="kt-subheader__breadcrumbs-link">
                            SchoolBus </a>
                        <span class="kt-subheader__breadcrumbs-separator"></span>
                        <a href="" class="kt-subheader__breadcrumbs-link">Quản lý cung đường</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end:: Subheader -->

        <!-- begin:: Content -->
        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
            <div class="row">
                <div class="col">

                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Danh sách cung đường
                                </h3>
                            </div>
                        </div>

                        <div class="kt-portlet__body">
                            <!--begin::Section-->
                            <div class="kt-section">
                                <div class="kt-section__content">
                                    <button type="button" class="btn btn-outline-brand mb-4" id="addRouteButton">Thêm
                                        mới</button>

                                    <div class="kt-datatable kt-datatable--default kt-datatable--brand">
                                        <p id="empty-data" class="text-muted font-14 d-none">
                                            Không có dữ liệu
                                        </p>
                                        <table class="table table-bordered table-hover">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>Tên cung đường</th>
                                                    <th>Xe</th>
                                                    <th>Tài xế</th>
                                                    <th>Bảo mẫu</th>
                                                    <th>Nhóm học sinh</th>
                                                </tr>
                                            </thead>
                                            <tbody id="routeData">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!--end::Section-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end:: Content -->
    </div>
    {{> routeModal}}
</template>

<template name="routeModal">
    <div class="modal fade" id="routeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cung đường</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="route-name" class="form-control-label required-input-label">Tên cung đường:</label>
                            <input type="text" class="form-control" id="route-name">
                        </div>
                        <div class="form-group">
                            <label class="required-input-label">Gán xe</label>
                            <div></div>
                            <select class="custom-select form-control" id="carSelect">
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="required-input-label">Gán tài xế</label>
                            <div></div>
                            <select class="custom-select form-control" id="driverSelect">
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="required-input-label">Gán bảo mẫu</label>
                            <div></div>
                            <select class="custom-select form-control" id="nannySelect">
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="required-input-label">Chọn nhóm học sinh</label>
                            <div></div>
                            <select class="custom-select form-control" id="studentListSelect">
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" id="routeModalSubmit">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
</template>