<template name="absentRequestManager">
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
        <!-- begin:: Subheader -->
        <div class="kt-subheader   kt-grid__item" id="kt_subheader">
            <div class="kt-container  kt-container--fluid ">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">

                        Giáo viên </h3>

                    <span class="kt-subheader__separator kt-hidden"></span>
                    <div class="kt-subheader__breadcrumbs">
                        <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                        <span class="kt-subheader__breadcrumbs-separator"></span>
                        <a href="" class="kt-subheader__breadcrumbs-link">
                            SchoolBus </a>
                        <span class="kt-subheader__breadcrumbs-separator"></span>
                        <a href="" class="kt-subheader__breadcrumbs-link">
                            Danh sách xin nghỉ</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end:: Subheader -->
        <div>
            <!-- begin:: Content -->
            <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
                <div class="row">
                    <div class="col">
                        <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">
                                        Danh sách xin nghỉ
                                    </h3>
                                </div>
                            </div>

                            <div class="kt-portlet__body">
                                <!--begin::Section-->
                                <div class="kt-section">
                                    <div class="kt-section__content">
                                        <table class="table table-bordered table-hover">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>Tên học sinh</th>
                                                    <th>Ngày nghỉ</th>
                                                    <th>Trạng thái</th>
                                                    <th>Hành động</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each parrentRequestList}}
                                                {{> parentRequestRow}}
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--end::Section-->
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <!-- end:: Content -->
        </div>
        {{> absentActionModal}}
    </div>
</template>

<template name="parentRequestRow">
    <tr>
        <td width="20%">{{student.user.name}}</td>
        <td width="15%">{{requestTime}}</td>
        <td width="15%">{{parentReqestStatus.text}}</td>
        <td width="15%">
            <button type="button" parentRequestID="{{_id}}" class="btn btn-brand btn-elevate btn-pill btn-sm parentRequestDataModal">Chi tiết</button>
        </td>
    </tr>
</template>

<template name="absentActionModal">
    <div class="modal fade" id="absentActionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thông tin chi tiết</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    {{parentReqestData._id}}
                </div>
                <div class="modal-footer">
                    <button type="button" time="{{parentReqestData.time}}" requestID="{{parentReqestData._id}}" studentID="{{parentReqestData.studentID}}" tripID="{{parentReqestData.tripID}}" class="btn btn-outline-primary" id="confirmRequestBtn">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
</template>