<template name="panel">
  <!-- begin::Sticky Toolbar -->
  <ul class="kt-sticky-toolbar" style="margin-top: 30px;">
    <li class="kt-sticky-toolbar__item kt-sticky-toolbar__item--success kt_demo_panel_toggle" id="kt_demo_panel1_toggle"
        data-toggle="kt-tooltip" title="Bộ lọc dữ liệu" data-placement="right">
        <a href="#" class=""><i class="fa fa-table"></i></a>
    </li>
</ul>
<!-- end::Sticky Toolbar -->
  <div id="kt_demo_panel" class="kt-demo-panel">
    <div class="kt-demo-panel__head">
      <h4 class="kt-demo-panel__title" id="panelTitle">
        Bộ lọc dữ liệu
        <small>5</small>
      </h4>
      <a href="#" class="kt-demo-panel__close" id="kt_demo_panel_close"><i class="flaticon2-delete"></i></a>
    </div>
    <div class="kt-demo-panel__body">
      helo
    </div>
  </div>
</template>