<template name="parentRequest">
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
        <!-- begin:: Subheader -->
        <div class="kt-subheader   kt-grid__item" id="kt_subheader">
            <div class="kt-container  kt-container--fluid ">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">Phụ huynh </h3>
                    <span class="kt-subheader__separator kt-hidden"></span>
                    <div class="kt-subheader__breadcrumbs">
                        <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                        <span class="kt-subheader__breadcrumbs-separator"></span>
                        <a href="" class="kt-subheader__breadcrumbs-link">
                            SchoolBus </a>
                        <span class="kt-subheader__breadcrumbs-separator"></span>
                        <a href="" class="kt-subheader__breadcrumbs-link">
                            Yêu cầu không đón</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
            <div class="kt-portlet kt-portlet--tabs">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-toolbar">
                        <ul class="nav nav-tabs nav-tabs-space-xl nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand"
                            role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#kt_user_edit_tab_1" role="tab">
                                    <i class="flaticon2-sms"></i> Gửi yêu cầu
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#kt_user_edit_tab_3" role="tab">
                                    <i class="flaticon2-list-1"></i> Danh sách yêu cầu
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="kt_user_edit_tab_1" role="tabpanel">
                            <div class="kt-portlet__body">
                                <div class="row">
                                    <div class="col-xl-2"></div>
                                    <div class="col-xl-8">
                                        <div class="kt-section kt-section--first">
                                            <div class="kt-section__body">
                                                <h3 class="kt-section__title kt-section__title-lg">YÊU CẦU CỦA PHỤ
                                                    HUYNH</h3>
                                                <div class="form-group row">
                                                    <label class="col-3 col-form-label">Xin nghỉ cho</label>
                                                    <div class="col-9">
                                                        <select class="form-control" type="text" id="student"
                                                            placeholder="">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-3 col-form-label">Chuyến đi</label>
                                                    <div class="col-9">
                                                        <select class="form-control" type="text" id="trip"
                                                            placeholder="Chọn chuyến đi">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-3 col-form-label">Lý do</label>
                                                    <div class="col-9">
                                                        <div class="kt-radio-list" id="requestType">
                                                            <label class="kt-radio">
                                                                <input type="radio" checked="checked" name="requestType"
                                                                    value="1">
                                                                Đưa đón bằng phương tiện khác
                                                                <span></span>
                                                            </label>
                                                            <label class="kt-radio">
                                                                <input type="radio" name="requestType" value="2"> Xin
                                                                nghỉ học
                                                                <span></span>
                                                            </label>
                                                            <label class="kt-radio">
                                                                <input type="radio" name="requestType" value="0"> Khác
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-3 col-form-label">Ghi chú thêm</label>
                                                <div class="col-9">
                                                    <textarea class="form-control" type="text" placeholder="Nội dung"
                                                        style="height: 150px;" id="note"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-form__actions container" style="width:100%">
                                        <div class="row">
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-9">
                                                <button type="submit" id="sendRequest" class="btn btn-brand"
                                                    style="float:right;">Gửi
                                                    yêu cầu</button>&nbsp;
                                            </div>
                                            <div class="col-sm-0"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-2"></div>
                            </div>
                        </div>
                        <div class="tab-pane" id="kt_user_edit_tab_3" role="tabpanel">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>