<template name="profile">
  <div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
      <div class="kt-subheader__main">

        <h3 class="kt-subheader__title">
          Thông tin cá nhân
        </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <div class="kt-subheader__group" id="kt_subheader_search">
          <span class="kt-subheader__desc" id="kt_subheader_total"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--tabs">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-toolbar">
          <ul class="nav nav-tabs nav-tabs-space-xl nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand"
            role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#kt_user_edit_tab_1" role="tab">
                <i class="flaticon2-user"></i> Thông tin
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#kt_user_edit_tab_3" role="tab">
                <i class="flaticon2-shield"></i> Đổi mật khẩu
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="kt-portlet__body">
        <form action="" method="">
          <div class="tab-content">
            <div class="tab-pane active" id="kt_user_edit_tab_1" role="tabpanel">
              <div class="kt-form kt-form--label-right">
                <div class="kt-form__body">
                  <div class="kt-section kt-section--first">
                    <div class="kt-section__body">
                      <div class="row">
                        <label class="col-xl-3"></label>
                        <div class="col-lg-9 col-xl-6">
                          <h3 class="kt-section__title kt-section__title-sm">Thông tin cá nhân: </h3>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Ảnh đại diện</label>
                        <div class="col-lg-9 col-xl-6">
                          <div class="kt-avatar kt-avatar--outline kt-avatar--circle-" id="kt_user_edit_avatar">
                            <div class="kt-avatar__holder">
                            </div>
                            <label class="kt-avatar__upload" data-toggle="modal" title=""  data-target="#editUploadImageModal">
                              <i class="fa fa-pen"></i>
                            </label>
                            <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title=""
                              data-original-title="Cancel avatar">
                              <i class="fa fa-times"></i>
                            </span>
                          </div>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Họ tên</label>
                        <div class="col-lg-9 col-xl-6">
                          <input class="form-control name" type="text" disabled>
                        </div>
                      </div>
                      <div class="form-group row school_section">
                        <label class="col-xl-3 col-lg-3 col-form-label">Tên trường</label>
                        <div class="col-lg-9 col-xl-6">
                          <input disabled class="form-control schoolName" type="text">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Số điện thoại</label>
                        <div class="col-lg-9 col-xl-6">
                          <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i
                                  class="la la-phone"></i></span></div>
                            <input disabled type="text" class="form-control phone" placeholder="Phone"
                              aria-describedby="basic-addon1">
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Email</label>
                        <div class="col-lg-9 col-xl-6">
                          <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i
                                  class="la la-at"></i></span></div>
                            <input disabled type="text" class="form-control email"
                              placeholder="Email" aria-describedby="basic-addon1">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="kt_user_edit_tab_3" role="tabpanel">
              <div class="kt-form kt-form--label-right">
                <div class="kt-form__body">
                  <div class="kt-section kt-section--first">
                    <div class="kt-section__body">
                      <div class="row">
                        <label class="col-xl-3"></label>
                        <div class="col-lg-9 col-xl-6">
                          <h3 class="kt-section__title kt-section__title-sm">Đổi mật khẩu</h3>
                        </div>
                      </div>
                      <form>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Mật khẩu hiện tại</label>
                          <div class="col-lg-9 col-xl-6">
                            <input type="password" class="form-control oldPass" value="" placeholder="Mật khẩu hiện tại" name="currentPass">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Mật khẩu mới</label>
                          <div class="col-lg-9 col-xl-6">
                            <input type="password" class="form-control newPass" value="" placeholder="Mật khẩu mới" name="newPass">
                          </div>
                        </div>
                        <div class="form-group form-group-last row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Xác nhận mật khẩu mới</label>
                          <div class="col-lg-9 col-xl-6">
                            <input type="password" class="form-control confirmation" value=""
                              placeholder="Xác nhận mật khẩu mới" name="confirmation">
                          </div>
                        </div>
                        <div class="kt-separator kt-separator--space-lg kt-separator--fit kt-separator--border-solid">
                        </div>

                        <div class="kt-form__actions">
                          <div class="row">
                            <div class="col-xl-3"></div>
                            <div class="col-lg-9 col-xl-6">
                              <button type="submit" class="btn btn-label-brand btn-bold confirm-button">Xác nhận</button>
                              <button class="btn btn-clean btn-bold">Hủy</button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  {{> editUploadImageModal}}
</template>

<template name="editUploadImageModal">
  <div class="modal fade" id="editUploadImageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title add-more" id="exampleModalLabel">Đổi ảnh đại diện</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          
            <div class="kt-portlet__body">
              <div class="form-group row">
                <label for="example-date-input" class="col-12 col-form-label">Ảnh đại diện</label>
                <div class="col-12 my-auto">
                  <div class="dropzone dropzone-default dropzone-brand" id="profile-dropzone">
                    <div class="dropzone-msg dz-message needsclick">
                      <h3 class="dropzone-msg-title">Kéo ảnh hoặc click để chọn ảnh.</h3>
                      <span class="dropzone-msg-desc"><strong>jpg, jpeg, png ...</strong></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
              <button type="submit" class="btn btn-primary" id="image-confirm-button">Xác nhận</button>
            </div>
          
        </div>
      </div>
    </div>
  </div>
</template>