<template name="mobileHeader">
  <div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
    <div class="kt-header-mobile__logo">
      <a href="/">
        <img alt="Logo" src="/assets/media/logos/logo-dark.png" />
      </a>
    </div>
    <div class="kt-header-mobile__toolbar">
      <button class="kt-header-mobile__toggler kt-header-mobile__toggler--left"
        id="kt_aside_mobile_toggler"><span></span></button>
      <!--begin: User Bar -->
      <div class="kt-header__topbar-item kt-header__topbar-item--user ml-2">
        <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="0px,0px">
          <div class="kt-header__topbar-user">
            <span class="kt-header__topbar-username kt-hidden-mobile">{{name}}</span>
            <img class="avata" alt="avata" src="{{avata}}" />
          </div>
        </div>

        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">
          <!--begin: Head -->
          <div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x"
            style="background-image: url(/assets/media/misc/bg-1.jpg)">
            <div class="kt-user-card__avatar">
              <img class="avata" alt="avata" src="{{avata}}" />
            </div>
            <div class="kt-user-card__name">
              {{name}}
            </div>
            <div class="kt-user-card__badge kt-hidden">
              <span class="btn btn-success btn-sm btn-bold btn-font-md">23 messages</span>
            </div>
          </div>
          <!--end: Head -->

          <!--begin: Navigation -->
          <div class="kt-notification">
            <a href="/profile" class="kt-notification__item">
              <div class="kt-notification__item-icon">
                <i class="flaticon2-calendar-3 kt-font-success"></i>
              </div>
              <div class="kt-notification__item-details">
                <div class="kt-notification__item-title kt-font-bold">
                  My Profile
                </div>
                <div class="kt-notification__item-time">
                  Account settings and more
                </div>
              </div>
            </a>
            <div class="kt-notification__custom kt-space-between">
              <button class="btn btn-label btn-label-brand btn-sm btn-bold" id="signOut">Sign Out</button>
            </div>
          </div>
          <!--end: Navigation -->
        </div>
      </div>
    </div>
  </div>
</template>