<template name="userManager">
  <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <!-- begin:: Subheader -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
      <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
          <h3 class="kt-subheader__title">

            Quản lý user</h3>

          <span class="kt-subheader__separator kt-hidden"></span>
          <div class="kt-subheader__breadcrumbs">
            <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="" class="kt-subheader__breadcrumbs-link">
              SchoolBus </a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="" class="kt-subheader__breadcrumbs-link">
              Quản lý user</a>
          </div>
        </div>
      </div>
    </div>
    <!-- end:: Subheader -->

    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
      <div class="row">
        <div class="col">

          <div class="kt-portlet">
            <div class="kt-portlet__head">
              <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                  Danh sách user
                </h3>
              </div>
            </div>

            <div class="kt-portlet__body">
              <!--begin::Section-->
              <div class="kt-section">
                <div class="kt-section__content">
                  <div class="kt-datatable kt-datatable--default kt-datatable--brand">
                    <p id="empty-data" class="text-muted font-14 d-none">
                      Không có dữ liệu
                    </p>
                    <table class="table table-bordered table-hover" id="userTable">
                      <thead class="thead-light">
                        <tr class="text-center">
                          <th>#</th>
                          <th>Họ tên</th>
                          <th>Username</th>
                          <th>Số điện thoại</th>
                          <th>Email</th>
                          <th>Trạng thái</th>
                          <!-- <th>Người Khóa</th> -->
                          <th>Lý do</th>
                          <th>Loại tài khoản</th>
                          <th>
                            <div class="from-group">
                              <label class="kt-checkbox kt-checkbox--brand">
                              <input type="checkbox" id="user-checkbox-all">
                              <span></span>
                              </label>
                          </div>
                          </th>
                          <th>
                            <div class="dropdown dropdown-inline">
                              <button type="button"
                              class="btn btn-clean btn-icon btn-sm btn-icon-md"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="flaticon-more-1"></i>
                              </button>
                              <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="#" data-toggle="modal"
                              data-target="#editPasswordModal"><i class="la la-rotate-right"></i> Reset Mật khẩu</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item delete-user" href="#"><i class="la la-trash"></i> Xóa</a>
                              </div>
                          </div>
                          </th>
                        </tr>
                      </thead>
                      <tbody id="table-body">

                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
              <!--end::Section-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end:: Content -->
  </div>
  <input type="hidden" id="user-id">
  {{> editPasswordModal}}
  {{> editUserModal}}
  {{> blockUserModal}}
</template>


<template name="editPasswordModal">
  <div class="modal fade" id="editPasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-center" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Đổi mật khẩu</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <form class="kt-form kt-form--label-right">
            <div class="kt-portlet__body">
              
              <div class="form-group row">
                <label for="example-text-input" class="col-3 col-form-label required-input-label">Mật khẩu mới</label>
                <div class="col-8">
                  <input class="form-control" type="text" id="password" placeholder="Mật khẩu mới">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-email-input" class="col-3 col-form-label required-input-label">Nhập lại mật
                  khẩu</label>
                <div class="col-8">
                  <input class="form-control" type="text" id="confirm-password" placeholder="Nhập lại mật khẩu">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
              <button type="submit" class="btn btn-primary" id="password-confirm-button">Xác nhận</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="editUserModal">
  <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-center" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Sửa thông tin</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <form class="kt-form kt-form--label-right">
            <div class="kt-portlet__body">
              <div class="form-group row">
                <label for="example-email-input" class="col-3 col-form-label required-input-label">Họ tên</label>
                <div class="col-8">
                  <input class="form-control" type="text" id="name" placeholder="Họ tên">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-email-input" class="col-3 col-form-label required-input-label">Số điện thoại</label>
                <div class="col-8">
                  <input class="form-control" type="text" id="phone" placeholder="Số điện thoại">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-email-input" class="col-3 col-form-label required-input-label">Email</label>
                <div class="col-8">
                  <input class="form-control" type="text" id="email" placeholder="Email">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-date-input" class="col-3 col-form-label">Ảnh đại diện</label>
                <div class="col-4">
                  <div class="dropzone dropzone-default dropzone-brand" id="user-dropzone">
                    <div class="dropzone-msg dz-message needsclick">
                      <h3 class="dropzone-msg-title">Kéo ảnh hoặc click để chọn ảnh.</h3>
                      <span class="dropzone-msg-desc"><strong>jpg, jpeg, png ...</strong></span>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="avatabox kt-hidden">
                    <img src="" alt="avata" id="avata">
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
              <button type="submit" class="btn btn-primary" id="user-confirm-button">Xác nhận</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="blockUserModal">
  <div class="modal fade" id="blockUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-center" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Khóa người dùng</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <form class="kt-form kt-form--label-right">
            <div class="kt-portlet__body">
              <div class="form-group">
                <label for="example-email-input" class="col-form-label required-input-label">Lý do</label>

                <textarea class="form-control" id="reason-block" rows="3"></textarea>

              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Hủy</button>
              <button type="button" class="btn btn-warning btn-sm" id="block-confirm-button">Khóa</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>


<template name="userFilter">
  {{#if isSuperadmin}}
  <div class="form-group mb-2">
    <label for="admin-parent-route" class="col-form-label">Trường</label>
    <select class="form-control filter-input" id="school-filter">
      <option value="">Chọn trường</option>
      {{#each schools}}
      <option value="{{_id}}">{{name}}</option>
      {{/each}}
    </select>
  </div>
  {{/if}}
  <div class="form-group mb-2">
    <label for="" class="col-form-label">Họ tên</label>
    <input class="form-control filter-input" type="text" placeholder="Họ tên" id="name-filter">
  </div>
  <div class="form-group mb-2">
    <label for="" class="col-form-label">Số điện thoại</label>
    <input class="form-control filter-input" type="text" placeholder="Số điện thoại" id="phone-filter">
  </div>
  <div class="form-group mb-2">
    <label for="" class="col-form-label">Email</label>
    <input class="form-control filter-input" type="text" placeholder="Email" id="email-filter">
  </div>
  <div class="form-group mt-4">
    <button type="submit" class="btn btn-primary btn-sm" id="filter-button">Tìm kiếm</button>
    <button type="submit" class="btn btn-success btn-sm" id="refresh-button">Refresh</button>
  </div>
</template>