<template name="monitoring">
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-container  kt-container--fluid ">
            <div class="kt-subheader__main">

                <h3 class="kt-subheader__title">
                    Admin
                </h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <div class="kt-subheader__group" id="kt_subheader_search">
                    <span class="kt-subheader__desc" id="kt_subheader_total">
                        Theo dõi xe </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12 col-lg-12 order-lg-3 order-xl-1" style="padding: 0px !important">
        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid"
            style="padding: 0px !important;">
            <button data-toggle="collapse" data-target=".collapse" class="floatingContent btn btn-primary btn-sm"><i
                    class="fas fa-bus"></i>Xem danh sách xe</button>
            <div class="kt-section">
                <div class="kt-section__content">
                    <div id="demo" class="collapse show">
                        {{#if hasData}}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Biển số xe</th>
                                    <th>Loại chuyến đi</th>
                                    <th>Tình trạng</th>
                                    <th>Tổng số học sinh</th>
                                    <th>Lên xe</th>
                                    <th>Xuống xe</th>
                                    <th>Xin nghỉ</th>
                                    <th>Vắng mặt</th>
                                </tr>
                            </thead>
                            <tbody id="table-body">
                                {{#each tripData in tripsData}}
                                {{> monitoringListTrip tripData = tripData index=@index}}
                                {{/each}}
                            </tbody>
                        </table>
                        {{else}}
                        <span class="text-center">Không có chuyến đi đang tiến hành</span>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div id="monitormap" style="padding: 0px; z-index: 0;"></div>
        </div>
    </div>
</template>

<template name="monitoringListTrip">
    <tr class="text-center">
        <td>{{index}}</td>
        <td>{{tripData.car.numberPlate}}</td>
        <td><span class="badge badge-{{tripType.classname}}">{{tripType.text}}</span></td>
        <td><span class="badge badge-{{tripStatus.classname}}">{{tripStatus.text}}</span></td>
        <td>{{totalStudent}}</td>
        <td>{{pickUpStudent}}</td>
        <td>{{getOffStudent}}</td>
        <td>{{requestStudent}}</td>
        <td>{{absentStudent}}</td>
    </tr>
</template>