<template name="childrenInfo">
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
        <div class="kt-subheader   kt-grid__item" id="kt_subheader">
            <div class="kt-container  kt-container--fluid ">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">Phụ huynh </h3>
                    <span class="kt-subheader__separator kt-hidden"></span>
                    <div class="kt-subheader__breadcrumbs">
                        <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                        <span class="kt-subheader__breadcrumbs-separator"></span>
                        <a href="" class="kt-subheader__breadcrumbs-link">
                            SchoolBus </a>
                        <span class="kt-subheader__breadcrumbs-separator"></span>
                        <a href="" class="kt-subheader__breadcrumbs-link">
                            Thông tin con cái</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid" id="childrenList">
            {{#each students}}
            {{> childrenHtml}}
            {{/each}}
        </div>
    </div>
    {{> childrenNextripModal}}
</template>


<template name="childrenHtml">
    <div class="kt-portlet kt-portlet--height-fluid">
        <div class="kt-portlet__head kt-portlet__head--noborder"></div>
        <div class="kt-portlet__body">
            <!--begin::Widget -->
            <div class="kt-widget kt-widget--user-profile-2">
                <div class="kt-widget__head">
                    <div class="kt-widget__media">
                        <img class="kt-widget__img kt-hidden-" src="{{_URL_images}}/{{user.image}}/0" alt="image">
                    </div>
                    <div class="kt-widget__info">
                        <a href="#" class="kt-widget__username">
                            {{user.name}}
                        </a>
                        <span class="kt-widget__desc">
                            {{class.name}}-{{class.school.name}}
                        </span>
                    </div>
                </div>
                <div class="kt-widget__body">
                    <div class="kt-widget__item">
                        <div class="kt-widget__contact">
                            <span class="kt-widget__label">Giáo viên:</span>
                            <a href="#" class="kt-widget__data">{{class.teacher.user.name}}</a>
                        </div>
                        <div class="kt-widget__contact">
                            <span class="kt-widget__label">Email:</span>
                            <a href="#" class="kt-widget__data">{{user.email}}</a>
                        </div>
                        <div class="kt-widget__contact">
                            <span class="kt-widget__label">Số điện thoại:</span>
                            <a href="#" class="kt-widget__data">{{user.phone}}</a>
                        </div>
                        <div class="kt-widget__contact">
                            <span class="kt-widget__label">Điểm đón:</span>
                            <span class="kt-widget__data">{{carStop.name}}</span>
                        </div>
                    </div>
                </div>

                <div class="kt-widget__footer row">
                    <button type="button" class="col btn btn-label-primary btn-upper chat-btn"
                        teacherID="{{class.teacher.user._id}}">Nhắn tin cho giáo viên</button>
                    <button type="button" class="col btn btn-label-warning btn-upper next-tripBtn"
                        studentID="{{_id}}">Chuyến đi tiếp theo</button>
                </div>
                <div class="kt-widget__footer row">
                    <a type="button" class="col btn btn-label-danger btn-upper" href="/parent/tripHistory/{{_id}}">Xem
                        lịch sử chuyến đi</a>
                    <a type="button" class="col btn btn-label-success btn-upper" href="/parent/nextTrip/{{_id}}">Chuyến
                        đi sắp tới</a>
                </div>
            </div>
            <!--end::Widget -->
        </div>
    </div>
</template>

<template name="childrenNextripModal">
    <div class="modal fade" id="childrenNextripModal" tripID="{{tripData._id}}" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chuyến đi sắp tới</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="kt-portlet">
                        <div class="kt-portlet__body">
                            <div class="kt-widget kt-widget--user-profile-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="kt-widget__info">
                                            <div class="kt-widget__desc">
                                                <h5><strong>Thời gian xuất phát: {{startTime}}</strong></h5>
                                                {{#if delayTime}}
                                                <h5><strong>Chậm trễ do sự cố: <span class="text-danger">{{delayTime}} phút</span></strong></h5>
                                                {{/if}}
                                                <h5><strong>Dự kiến đến điểm dừng: {{reachCarstopTime}}</strong></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="kt-widget__top">
                                            <div class="kt-widget__media kt-hidden-">
                                                <img src="{{_URL_images}}/{{tripData.driver.user.image}}/0" alt="image">
                                            </div>
                                            <div class="kt-widget__content" style="padding-left: 1rem;">
                                                <div class="kt-widget1 justify-content-center">
                                                    <div class="kt-widget1__item">
                                                        <div class="kt-widget1__info kt-align-left">
                                                            <h3 class="kt-widget1__title">Lái xe: </h3>
                                                            <span class="kt-widget1__desc "><i
                                                                    class="flaticon2-phone"></i> Số điện thoại:</span>
                                                        </div>
                                                        <div class="kt-widget1__info kt-align-right">
                                                            <h3 class="kt-widget1__title kt-font-primary">
                                                                {{tripData.driver.user.name}}
                                                            </h3>
                                                            <span class="kt-widget1__desc phone">
                                                                {{tripData.driver.user.phone}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="kt-widget__top">
                                            <div class="kt-widget__media">
                                                <img src="{{_URL_images}}/{{tripData.nanny.user.image}}/0" alt="image">
                                            </div>
                                            <div class="kt-widget__content" style="padding-left: 1rem;">
                                                <div class="kt-widget1 justify-content-center">
                                                    <div class="kt-widget1__item">
                                                        <div class="kt-widget1__info kt-align-left">
                                                            <h3 class="kt-widget1__title">Bảo mẫu: </h3>
                                                            <span class="kt-widget1__desc "><i
                                                                    class="flaticon2-phone"></i> Số điện
                                                                thoại:</span>
                                                        </div>
                                                        <div class="kt-widget1__info kt-align-right">
                                                            <h3 class="kt-widget1__title kt-font-primary">
                                                                {{tripData.nanny.user.name}}
                                                            </h3>
                                                            <span class="kt-widget1__desc phone">
                                                                {{tripData.nanny.user.phone}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="col-md-12">
                                        <div class="kt-widget__content mt-4 border border-success">
                                            <div class="kt-widget1 justify-content-center">
                                                <div class="kt-widget1__item mt-2">
                                                    <div class="kt-widget1__info kt-align-left">
                                                        <h3 class="kt-widget1__title"><i
                                                                class="flaticon2-help kt-font-danger"></i> Biển số xe:
                                                        </h3>
                                                    </div>
                                                    <div class="kt-widget1__info kt-align-right">
                                                        <h3 class="kt-widget1__title kt-font-success" id="driver-name">
                                                            {{tripData.car.numberPlate}}
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="kt-widget__top">
                                            <div class="kt-widget__content" style="padding-left: 1rem;">
                                                <div class="kt-widget1 justify-content-center">
                                                    <div class="kt-widget1__item">
                                                        <div class="kt-widget1__info kt-align-left">
                                                            <h4 class="kt-widget1__title">Tình trạng chuyến đi</h4>
                                                        </div>
                                                        <div class="kt-widget1__info kt-align-right">
                                                            <h4
                                                                class="kt-widget1__title kt-font-{{tripStatus.classname}}">
                                                                {{tripStatus.text}}
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="kt-widget__top">
                                            <div class="kt-widget__content" style="padding-left: 1rem;">
                                                <div class="kt-widget1 justify-content-center">
                                                    <div class="kt-widget1__item">
                                                        <div class="kt-widget1__info kt-align-left">
                                                            <h4 class="kt-widget1__title">Tình trạng học sinh</h4>
                                                        </div>
                                                        <div class="kt-widget1__info kt-align-right">
                                                            <h4
                                                                class="kt-widget1__title kt-font-{{studentStatus.classname}}">
                                                                {{studentStatus.text}}
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="tab-pane" id="timeline" role="tabpanel">
                                            <div class="kt-timeline-v2">
                                                <div
                                                    class="kt-timeline-v2__items  kt-padding-top-25 kt-padding-bottom-30">
                                                    {{#each tripStudentLog}}
                                                    {{> tripLogElement}}
                                                    {{/each}}
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary pull-left" data-dismiss="modal">Đóng</button>
                    {{#if isShowPosition}}
                    <a type="button" class="btn btn-label-primary" href="/parent/tripTracking/{{tripData._id}}">Xem vị
                        trí</a>
                    {{/if}}
                    {{#if isShowRequest}}
                    <a type="button" class="btn btn-danger" href="/parent/request?tripID={{tripData._id}}&studentID={{studentID}}">Xin nghỉ</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</template>