<template name="moduleManager">
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
        <!-- begin:: Subheader -->
        <div class="kt-subheader   kt-grid__item" id="kt_subheader">
            <div class="kt-container  kt-container--fluid ">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">

                        Quản lý module </h3>

                    <span class="kt-subheader__separator kt-hidden"></span>
                    <div class="kt-subheader__breadcrumbs">
                        <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                        <span class="kt-subheader__breadcrumbs-separator"></span>
                        <a href="" class="kt-subheader__breadcrumbs-link">
                            SchoolBus </a>
                        <span class="kt-subheader__breadcrumbs-separator"></span>
                        <a href="" class="kt-subheader__breadcrumbs-link">
                            Quản lý module</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end:: Subheader -->

        <!-- begin:: Content -->
        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
            <div class="row">
                <div class="col">

                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Danh sách module
                                </h3>
                            </div>
                        </div>

                        <div class="kt-portlet__body">
                            <!--begin::Section-->
                            <div class="kt-section">
                                <div class="kt-section__content">
                                    <button type="button" id="add-module" class="btn btn-outline-brand mb-4"
                                        data-toggle="modal" data-target="#editModuleModal">Thêm mới</button>
                                    <div
                                        class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded">
                                        <table class="table table-bordered table-hover table-responsive-md" id="moduleTable">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Tên module</th>
                                                    <th>Mô tả</th>
                                                    <th>Icon</th>
                                                    <th>Đường dẫn</th>
                                                    <th>Cấp phép cho</th>
                                                    <th>Thời gian khởi tạo</th>
                                                    <th>Hành động</th>
                                                </tr>
                                            </thead>
                                            <tbody id="table-body">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!--end::Section-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end:: Content -->

        {{> editModuleModal}}
    </div>
    <!--{{> editRoute}}-->
</template>

<template name="editModuleModal">
    <div class="modal fade" id="editModuleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm mới</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <form class="kt-form kt-form--label-right">
                        <div class="kt-portlet__body">
                            <input type="hidden" id="module-id" value="">
                            <div class="form-group row">
                                <label for="module-name" class="col-3 col-form-label required-input-label">Tên
                                    Module</label>
                                <div class="col-9">
                                    <input class="form-control" type="text" value="" id="module-name" name="module-name"
                                        placeholder="Tên Module">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="module-description" class="col-3 col-form-label">Miêu tả</label>
                                <div class="col-9">
                                    <input class="form-control" type="text" value="" id="module-description"
                                        name="module-description" placeholder="Mô Tả">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="module-route" class="col-3 col-form-label required-input-label">Đường
                                    dẫn</label>
                                <div class="col-9">
                                    <input class="form-control" type="text" value="" id="module-route"
                                        name="module-route" placeholder="Đường dẫn">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="module-parent-route" class="col-3 col-form-label">Đường dẫn cha</label>
                                <div class="col-9">
                                    <select id="module-parent-route" class="form-control" name="parent-route">
                                        <option></option>
                                        {{#each modulesData}}
                                        <option value="{{route}}">
                                            {{route}}
                                        </option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="module-icon" class="col-3 col-form-label required-input-label">Icon</label>
                                <div class="col-9">
                                    <select id="module-icon" class="form-control">
                                        <option></option>
                                        {{#each icons}}
                                        <option value="{{this}}" data-icon="{{this}}">
                                            <p style="text-transform: capitalize;">&nbsp;{{ this }}</p>
                                        </option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="module-permission" class="col-3 col-form-label required-input-label">Chọn
                                    quyền</label>
                                <div class="col-9">
                                    <select id="module-permission" class="form-control" multiple="multiple">
                                        <option value="admin">Quản trị viên</option>
                                        <option value="driver">Lái xe</option>
                                        <option value="nanny">Bảo mẫu</option>
                                        <option value="parent">Phụ huynh</option>
                                        <option value="teacher">Giáo viên</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary submit-button"></button>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="moduleFilter">
    <div class="form-group mb-2">
        <label for="module-name" class="col-form-label">Tên Module</label>
        <input class="form-control filter-input" type="text" value="" id="module-name-filter" name="module-name"
            placeholder="Tên Module">
    </div>
    <div class="form-group mb-2">
        <label for="module-route" class="col-form-label">Đường dẫn</label>
        <input class="form-control filter-input" type="text" value="" id="module-route-filter" name="module-route"
            placeholder="Đường dẫn">
    </div>
    <div class="form-group mb-2">
        <label for="module-parent-route">Đường dẫn cha</label>
        <input class="form-control filter-input" type="text" value="" id="module-parentRoute-filter"
            name="module-description" placeholder="Mô Tả">
    </div>
    <div class="form-group mb-2">
        <label for="module-permission" class="col-form-label">Chọn quyền</label>
        <select id="module-permission-filter" class="form-control filter-input">
            <option value="all" selected>Tất cả</option>
            <option value="admin">Quản trị viên</option>
            <option value="driver">Lái xe</option>
            <option value="nanny">Bảo mẫu</option>
            <option value="parent">Phụ huynh</option>
            <option value="teacher">Giáo viên</option>
        </select>
    </div>
    <div class="form-group mt-4">
        <button type="submit" class="btn btn-primary btn-sm" id="filter-button">Tìm kiếm</button>
        <button type="submit" class="btn btn-success btn-sm" id="refresh-button">Refresh</button>
      </div>
</template>