<template name="administratorManager">
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
      <!-- begin:: Subheader -->
      <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-container  kt-container--fluid ">
          <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
  
              Quản trị viên </h3>
  
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
              <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
              <span class="kt-subheader__breadcrumbs-separator"></span>
              <a href="" class="kt-subheader__breadcrumbs-link">
                SchoolBus </a>
              <span class="kt-subheader__breadcrumbs-separator"></span>
              <a href="" class="kt-subheader__breadcrumbs-link">
                Quản trị viên</a>
            </div>
          </div>
        </div>
      </div>
      <!-- end:: Subheader -->
  
      <!-- begin:: Content -->
      <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="row">
          <div class="col">
  
            <div class="kt-portlet">
              <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                  <h3 class="kt-portlet__head-title">
                    Danh sách quản trị viên
                  </h3>
                </div>
              </div>
  
              <div class="kt-portlet__body">
                <!--begin::Section-->
                <div class="kt-section">
                  <div class="kt-section__content">
                    <button type="button" class="btn btn-outline-brand mb-4 add-more" data-toggle="modal" data-target="#editStudentModal">Thêm mới</button>
					<div class="kt-datatable kt-datatable--default kt-datatable--brand">
						<p id="empty-data" class="text-muted font-14 d-none">
						  Không có dữ liệu
						</p>
					<table class="table table-bordered table-hover">
                      <thead class="thead-light">
                        <tr>
                          <th>#</th>
                          <th>Họ tên</th>
                          <th>Tên đăng nhập</th>
                          <th>Số điện thoại</th>
                          <th>Email</th>
                          <th>Loại admin</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody id="table-body">
                        
                      </tbody>
					</table>
					</div>
                  </div>
                </div>
                <!--end::Section-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end:: Content -->
    </div>
    {{> editAdministratorModal}}
  </template>


<template name="editAdministratorModal">
    <div class="modal fade" id="editAdministratorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Thêm mới</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <form class="kt-form kt-form--label-right">
            <div class="kt-portlet__body">
              <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label required-input-label">Họ tên</label>
                <div class="col-10">
                  <input class="form-control" type="text" name="name" id="name-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-search-input" class="col-2 col-form-label required-input-label">Tên Đăng nhập</label>
                <div class="col-10">
                  <input class="form-control" type="text" name="username" id="username-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-email-input" class="col-2 col-form-label required-input-label">Mật khẩu</label>
                <div class="col-10">
                  <input class="form-control" type="password" name="password" id="address-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-url-input" class="col-2 col-form-label required-input-label">Số điện thoại</label>
                <div class="col-10">
                  <input class="form-control" type="text" value="https://getbootstrap.com" name="phoneNumber" id="phonenumber-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-tel-input" class="col-2 col-form-label">Email</label>
                <div class="col-10">
                  <input class="form-control" type="text" value="1-(555)-555-5555" name="email" id="email-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-tel-input" class="col-2 col-form-label required-input-label">Loại admin</label>
                <div class="col-10">
                  <input class="form-control" type="text" value="1-(555)-555-5555" name="adminType" id="admintype-input">
                </div>
              </div>
              <!-- <div class="form-group row">
                <label for="example-date-input" class="col-2 col-form-label">Ảnh đại diện</label>
                <div class="col-10">
                  <input class="form-control" type="text" value="2011-08-19" name="avatar" id="avatar-input">
                </div>
              </div> -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary cancel-button" data-dismiss="modal">Hủy</button>
              <button type="submit" class="btn btn-primary confirm-button" >Xác nhận</button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>
  </template>