<template name="feedback">
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
        <!-- begin:: Subheader -->
        <div class="kt-subheader   kt-grid__item" id="kt_subheader">
            <div class="kt-container  kt-container--fluid ">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">

                        Quản lý phản hồi </h3>

                    <span class="kt-subheader__separator kt-hidden"></span>
                    <div class="kt-subheader__breadcrumbs">
                        <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                        <span class="kt-subheader__breadcrumbs-separator"></span>
                        <a href="" class="kt-subheader__breadcrumbs-link">
                            SchoolBus </a>
                        <span class="kt-subheader__breadcrumbs-separator"></span>
                        <a href="" class="kt-subheader__breadcrumbs-link">
                            Quản lý phản hồi</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end:: Subheader -->

        <!-- begin:: Content -->
        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
            <div class="row">
                <div class="col">

                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Danh sách phản hồi
                                </h3>
                            </div>
                        </div>

                        <div class="kt-portlet__body">
                            <!--begin::Section-->
                            <div class="kt-section">
                                <div class="kt-section__content">
                                    <button type="button" class="btn btn-outline-brand mb-4" data-toggle="modal"
                                        data-target="#editRouteModal">Thêm mới</button>
                                        <p id="empty-data" class="text-muted font-14 d-none">
                                            Không có dữ liệu
                                          </p>
                                    <table class="table table-bordered table-hover table-responsive" id="feedbackTable">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>#</th>
                                                <th>Người dùng</th>
                                                <th>Loại</th>
                                                <th>Tiêu đề</th>
                                                <th>Thời gian nhận</th>
                                                <th>Tình trạng</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="table-body">
                                            {{#each feedback}}
                                            {{>feedbackRow}}
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--end::Section-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end:: Content -->
    </div>
    {{> replyFeedBackModal}}
</template>

<template name="replyFeedBackModal">
    <div class="modal fade" id="replyFeedBackModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Thêm mới</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group row">
                <label for="studentList-name" class="col-2 col-form-label required-input-label">Nội dung</label>
                <div class="col-10">
                  <textarea type="text" class="form-control" id="content" placeholder="Nội dung phản hồi"></textarea>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Đóng</button>
            <button type="button" class="btn btn-outline-primary" id="replyFeedBackModalSubmit">Xác nhận</button>
          </div>
        </div>
      </div>
    </div>
  </template>

<template name="feedbackRow">
    <tr feedbackID="{{_id}}" class="table-row" title="{{content}}">
        <td>{{index}}</td>
        <td>{{user.name}}</td>
        <td>
            <span
                class="kt-badge kt-badge--{{feedbackType.classname}} kt-badge--inline kt-badge--pill kt-badge--rounded">{{feedbackType.text}}</span>
        </td>
        <td>{{title}}</td>
        <td>{{createdTime}}</td>
        <td>
            <span
                class="kt-badge kt-badge--{{feedbackStatus.classname}} kt-badge--inline kt-badge--pill kt-badge--rounded">{{feedbackStatus.text}}
            </span>
        </td>
        <td>
            {{{htmlButton}}}
        </td>
    </tr>
</template>

<template name="feedbackFilter">
    {{#if isSuperadmin}}
    <div class="form-group mb-2">
        <label for="admin-parent-route" class="col-form-label">Trường</label>
        <select class="form-control filter-input" id="school-filter">
            <option value="">Chọn trường</option>
            {{#each schools}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>
    </div>
    {{/if}}
    <div class="form-group mb-2">
        <label for="" class="col-form-label">Người dùng</label>
        <input class="form-control filter-input" type="text" placeholder="Tên người dùng" id="name-filter">
    </div>
    <div class="form-group mb-2">
        <label for="admin-parent-route" class="col-form-label">Loại</label>
        <select class="form-control filter-input" id="type-filter">
            <option value=""></option>
            <option value="1">Phản ảnh tiêu cực</option>
            <option value="2">Phản ảnh lỗi ứng dụng</option>
            <option value="3">Đóng góp ý kiến</option>
            <option value="0">Khác</option>
        </select>
    </div>
    <div class="form-group mb-2">
        <label for="" class="col-form-label">Tiêu đề</label>
        <input class="form-control filter-input" type="text" placeholder="Tiêu đề" id="title-filter">
    </div>
    <div class="form-group mb-2">
        <label for="admin-parent-route" class="col-form-label">Tình trạng</label>
        <select class="form-control filter-input" id="status-filter">
            <option value=""></option>
            <option value="0">Đã gửi</option>
            <option value="1">Đã tiếp nhận</option>
            <option value="2">Được phản bội</option>
        </select>
    </div>
    <!-- <div class="form-group mb-2">
        <label for="" class="col-form-label">Căn cước công dân</label>
        <input class="form-control filter-input" type="text" placeholder="Căn cước công dân" id="cccd-filter">
    </div> -->
    <div class="form-group mt-4">
        <button type="submit" class="btn btn-primary btn-sm" id="filter-button">Tìm kiếm</button>
        <button type="submit" class="btn btn-success btn-sm" id="refresh-button">Refresh</button>
    </div>
</template>