<template name="feedback">
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
        <!-- begin:: Subheader -->
        <div class="kt-subheader   kt-grid__item" id="kt_subheader">
            <div class="kt-container  kt-container--fluid ">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">

                        Quản lý phản hồi </h3>

                    <span class="kt-subheader__separator kt-hidden"></span>
                    <div class="kt-subheader__breadcrumbs">
                        <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                        <span class="kt-subheader__breadcrumbs-separator"></span>
                        <a href="" class="kt-subheader__breadcrumbs-link">
                            SchoolBus </a>
                        <span class="kt-subheader__breadcrumbs-separator"></span>
                        <a href="" class="kt-subheader__breadcrumbs-link">
                            Quản lý phản hồi</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end:: Subheader -->

        <!-- begin:: Content -->
        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
            <div class="row">
                <div class="col">

                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Danh sách phản hồi
                                </h3>
                            </div>
                        </div>

                        <div class="kt-portlet__body">
                            <!--begin::Section-->
                            <div class="kt-section">
                                <div class="kt-section__content">
                                    <button type="button" class="btn btn-outline-brand mb-4" data-toggle="modal"
                                        data-target="#editRouteModal">Thêm mới</button>
                                    <table class="table table-bordered table-hover" id="feedbackTable">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>#</th>
                                                <th>Người dùng</th>
                                                <th>Loại</th>
                                                <th>Tiêu đề</th>
                                                <th>Thời gian nhận</th>
                                                <th>Tình trạng</th>
                                                <th>Phản hồi bởi</th>
                                                <th>Thời gian phản hồi</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="table-body">
                                            {{#each feedback}}
                                                {{>feedbackRow}}
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--end::Section-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end:: Content -->
    </div>
</template>

<template name="feedbackRow">
    <tr feedbackID="{{_id}}" class="table-row" title="{{content}}">
        <td>{{index}}</td>
        <td>{{user.name}}</td>
        <td>
            <span class="kt-badge kt-badge--{{feedbackType.classname}} kt-badge--inline kt-badge--pill kt-badge--rounded">{{feedbackType.text}}</span>
        </td>
        <td>{{title}}</td>
        <td>{{createdTime}}</td>
        <td>
            <span class="kt-badge kt-badge--{{feedbackStatus.classname}} kt-badge--inline kt-badge--pill kt-badge--rounded">{{feedbackStatus.text}}
            </span>
        </td>
        <td></td>
        <td></td>
        <td>
            <button type="button" class="btn btn-outline-brand modify-button" feedbackID="{{_id}}">Phản hồi</button>
        </td>
    </tr>
</template>