<template name="dashboard">
  <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <!-- begin:: Subheader -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
      <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
          <h3 class="kt-subheader__title">
            Trang chủ
          </h3>

          <span class="kt-subheader__separator kt-hidden"></span>
          <div class="kt-subheader__breadcrumbs">
            <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="" class="kt-subheader__breadcrumbs-link"> SchoolBus </a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="" class="kt-subheader__breadcrumbs-link">
              Thống kê</a>
          </div>
        </div>
      </div>
    </div>
    <!-- end:: Subheader -->

    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
      <div class="row">
        <div class="col">
          <div class="kt-portlet">
            <div class="kt-portlet__head">
              <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                  Thống kê
                </h3>
              </div>
            </div>
            <div class="kt-portlet__body">
              <div class="kt-section">
                <div class="kt-section__content">
                  <div class="row">
                    <div class="col-lg-12 col-xl-12 col-md-12 order-lg-1 order-xl-1 order-md-1">
                      <div class="kt-widget17">
                        <div class="kt-widget17__stats custom_stats">
                          <div class="kt-portlet__head kt-portlet__space-x">
                            <div class="kt-portlet__head-label">
                              <h5 class="kt-portlet__head-title">
                                Tài khoản: {{numberUser}}
                              </h5>
                            </div>
                            <div class="kt-portlet__head-toolbar">
                              <h6 class="kt-portlet__head-title" style="
                              width: 100%;
                              margin: 0 1rem 0 0">
                                Trường học:
                              </h6>
                              <select id="school-dashboard">
                                <option value=""></option>
                                <option value="1">Trường Học A</option>
                                <option value="2">Trường Học B</option>
                                <option value="3">Trường Học C</option>
                              </select>
                            </div>
                          </div>
                          <div class="kt-portlet__body">
                            <div class="kt-widget17__items">
                              {{#each dataUser}}
                              <div class="kt-widget17__item">
                                <span class="kt-widget17__icon" style="color: {{color}}">
                                  <i class="fa {{icon}}"></i>
                                </span>
                                <div class="information">
                                  <span class="kt-widget17__subtitle">
                                    {{text}}
                                  </span>
                                  <span class="kt-widget17__desc">
                                    {{number}}
                                  </span>
                                </div>
                              </div>
                              {{/each}}
                            </div>
                          </div>
                          <div class="kt-portlet__head kt-portlet__space-x">
                            <div class="kt-portlet__head-label">
                              <h5 class="kt-portlet__head-title">
                                Chuyến đi
                              </h5>
                            </div>
                            <!-- <div class="kt-portlet__head-toolbar">
                              <h6 class="kt-portlet__head-title" style="
                              width: 100%;
                              margin-right: 1rem">
                                Trường học:
                              </h6>
                              <select id="school-dashboard">
                                <option value=""></option>
                                <option value="1">Trường Học A</option>
                                <option value="2">Trường Học B</option>
                                <option value="3">rường Học C</option>
                              </select>
                            </div> -->
                          </div>
                          <div class="kt-portlet__body">
                            <div class="kt-widget17__items">
                              <div class="kt-widget17__item">
                                <span class="kt-widget17__icon" style="color: rgb(77, 212, 50)">
                                  <i class="fa fas fa-map-marker-alt"></i>
                                </span>
                                <div class="information">
                                  <span class="kt-widget17__subtitle">
                                    Điểm dừng
                                  </span>
                                  <span class="kt-widget17__desc">
                                    10
                                  </span>
                                </div>
                              </div>
                              <div class="kt-widget17__item">
                                <span class="kt-widget17__icon" style="color: rgb(0, 202, 158)">
                                  <i class="fas fa-road"></i>
                                </span>
                                <div class="information">
                                  <span class="kt-widget17__subtitle">
                                    Cung đường
                                  </span>
                                  <span class="kt-widget17__desc">
                                    2
                                  </span>
                                </div>
                              </div>
                              <div class="kt-widget17__item">
                                <span class="kt-widget17__icon" style="color: rgb(75, 24, 216)">
                                  <i class="fa fas fa-car-side"></i>
                                </span>
                                <div class="information">
                                  <span class="kt-widget17__subtitle">
                                    Số Chuyến
                                  </span>
                                  <span class="kt-widget17__desc">
                                    2
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="kt-portlet__body">
                            <div class="kt-widget3">
                              <div class="kt-widget3__item">
                                <div class="kt-widget3__header">
                                  <div class="kt-widget3__info">
                                    <h5 class="kt-widget3__title" style="margin-bottom: 0">Chuyến đi đang chạy: </h5>
                                  </div>
                                  <div class="kt-widget3__status">
                                    <div class="progress" style="height: 1.2rem; margin-left: 2rem;">
                                      <div class="progress-bar bg-danger" role="progressbar" style="width: 10%"
                                        aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">123</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="kt-widget3">
                              <div class="kt-widget3__item">
                                <div class="kt-widget3__header">
                                  <div class="kt-widget3__info">
                                    <h5 class="kt-widget3__title" style="margin-bottom: 0">Chuyến đi đang chạy: </h5>
                                  </div>
                                  <div class="kt-widget3__status">
                                    <div class="progress" style="height: 1.2rem; margin-left: 2rem;">
                                      <div class="progress-bar bg-danger" role="progressbar" style="width: 10%"
                                        aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">123</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="kt-widget3">
                              <div class="kt-widget3__item">
                                <div class="kt-widget3__header">
                                  <div class="kt-widget3__info">
                                    <h5 class="kt-widget3__title" style="margin-bottom: 0">Chuyến đi đang chạy: </h5>
                                  </div>
                                  <div class="kt-widget3__status">
                                    <div class="progress" style="height: 1.2rem; margin-left: 2rem;">
                                      <div class="progress-bar bg-danger" role="progressbar" style="width: 10%"
                                        aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">123</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="kt-widget3">
                              <div class="kt-widget3__item">
                                <div class="kt-widget3__header">
                                  <div class="kt-widget3__info">
                                    <h5 class="kt-widget3__title" style="margin-bottom: 0">Chuyến đi đang chạy: </h5>
                                  </div>
                                  <div class="kt-widget3__status">
                                    <div class="progress" style="height: 1.2rem; margin-left: 2rem;">
                                      <div class="progress-bar bg-danger" role="progressbar" style="width: 10%"
                                        aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">123</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="kt-widget3">
                              <div class="kt-widget3__item">
                                <div class="kt-widget3__header">
                                  <div class="kt-widget3__info">
                                    <h5 class="kt-widget3__title" style="margin-bottom: 0">Chuyến đi đang chạy: </h5>
                                  </div>
                                  <div class="kt-widget3__status">
                                    <div class="progress" style="height: 1.2rem; margin-left: 2rem;">
                                      <div class="progress-bar bg-danger" role="progressbar" style="width: 10%"
                                        aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">123</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 order-lg-2 order-xl-2 order-md-2">
                      <div class="kt-widget14">
                        <div class="kt-widget14__header">
                          <h3 class="kt-widget14__title">
                            Biểu đồ tài khoản
                          </h3>
                          <span class="kt-widget14__desc">

                          </span>
                        </div>
                        <div class="kt-widget14__content">
                          <div class="kt-widget14__chart">
                            <div class="kt-widget14__stat">{{numberUser}}</div>
                            <canvas id="userChart" style="height: 140px; width: 140px; z-index: 0"></canvas>
                          </div>
                          <div class="kt-widget14__legends">
                            {{#each dataUser}}
                            <div class="kt-widget14__legend">
                              <span class="kt-widget14__bullet" style="background-color: {{color}}"></span>
                              <span class="kt-widget14__stats">{{text}}</span>
                            </div>
                            {{/each}}
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="col-xl-6 col-lg-6 col-md-6 order-lg-2 order-xl-2 order-md-2">
                      <div class="kt-widget14">
                        <div class="kt-widget14__header">
                          <h3 class="kt-widget14__title">
                            Biểu đồ Trường học
                          </h3>
                          <span class="kt-widget14__desc">

                          </span>
                        </div>
                        <div class="kt-widget14__content">
                          <div class="kt-widget14__chart">
                            <div class="kt-widget14__stat">6</div>
                            <canvas id="schoolChart" style="height: 140px; width: 140px; z-index: 0"></canvas>
                          </div>
                          <div class="kt-widget14__legends">
                            <div class="kt-widget14__legend">
                              <span class="kt-widget14__bullet" style="background-color: rgb(77, 212, 50);"></span>
                              <span class="kt-widget14__stats">Trường học</span>
                            </div>
                            <div class="kt-widget14__legend">
                              <span class="kt-widget14__bullet" style="background-color: rgb(0, 202, 158);"></span>
                              <span class="kt-widget14__stats">Lớp học</span>
                            </div>
                            <div class="kt-widget14__legend">
                              <span class="kt-widget14__bullet" style="background-color: rgb(75, 24, 216);"></span>
                              <span class="kt-widget14__stats">Số lượng xe</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="fetchData">
  <div class="kt-widget17__item">
    <span class="kt-widget17__icon" style="color: rgb(175, 41, 41)">
      <i class="fa fa-street-view"></i>
    </span>
    <div class="information">
      <span class="kt-widget17__subtitle">
        Lái xe
      </span>
      <span class="kt-widget17__desc">
        15
      </span>
    </div>
  </div>
</template>