<template name="tripList">
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-container  kt-container--fluid ">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">

                    SchoolBus </h3>

                <span class="kt-subheader__separator kt-hidden"></span>
                <div class="kt-subheader__breadcrumbs">
                    <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                    <span class="kt-subheader__breadcrumbs-separator"></span>
                    <a href="" class="kt-subheader__breadcrumbs-link">
                        Quản lý chuyến đi </a>
                    <span class="kt-subheader__breadcrumbs-separator"></span>
                    <a href="" class="kt-subheader__breadcrumbs-link">
                        Danh sách chuyến đi </a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title" id="tripListTitle">
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                {{#if hasData}}
                <div class="row">
                    {{#each tripList}}
                    {{> tripHtml2}}
                    {{/each}}
                </div>
                {{else}}
                <div class="alert alert-custom alert-secondary fade show mb-5" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">Không có chuyến đi!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    {{> childrenNextripModal}}
</template>

<template name="tripHtml2">
    <div class="col-md-6 col-sm-12">
        <div class="kt-widget kt-widget--user-profile-3" id="trip-manager">
            <div class="kt-widget__top">
                <div class="kt-widget__content">
                    <div class="kt-widget__head">
                        <div class="fa-pull-left">
                            {{#if isParent}}
                            <button type="button" class="btn btn-success btn-sm openStudentTripModalBtn"
                                tripID="{{_id}}">Xem
                                thông tin</button>

                            {{else}}

                            <a href="/driver/tripInfo/{{_id}}"><button type="button" class="btn btn-success btn-sm">Xem
                                    thông tin</button></a>
                            {{/if}}
                        </div>
                        <div class="col-4 kt-align-right">
                            <span class="badge badge-{{tripStatus.classname}}">{{tripStatus.text}}</span>
                        </div>
                    </div>
                    <div class="kt-widget__subhead">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <i class="flaticon2-fast-next"></i>&nbsp;
                                <label for="route-name" class="form-control-label">Biển số:</label>&nbsp;
                                <span href="#" id="route-name">{{car.numberPlate}}</span>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <i class="flaticon2-map"></i>&nbsp;
                                <label for="route-name" class="form-control-label">Cung đường:</label>&nbsp;
                                <span href="#" id="route-name">{{route.name}}</span>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <i class="flaticon2-calendar-1"></i>&nbsp;
                                <label for="time-start" class="form-control-label">Khởi hành:</label>&nbsp;
                                <span id="time-start">{{startTime}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>