<template name="carModelManager">
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
      <!-- begin:: Subheader -->
      <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-container  kt-container--fluid ">
          <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
  
              Quản lý xe </h3>
  
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
              <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
              <span class="kt-subheader__breadcrumbs-separator"></span>
              <a href="" class="kt-subheader__breadcrumbs-link">
                SchoolBus </a>
              <span class="kt-subheader__breadcrumbs-separator"></span>
              <a href="" class="kt-subheader__breadcrumbs-link">
                Quản lý xe</a>
            </div>
          </div>
        </div>
      </div>
      <!-- end:: Subheader -->
  
      <!-- begin:: Content -->
      <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="row">
          <div class="col">
  
            <div class="kt-portlet">
              <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                  <h3 class="kt-portlet__head-title">
                    Danh sách xe
                  </h3>
                </div>
              </div>
  
              <div class="kt-portlet__body">
                <!--begin::Section-->
                <div class="kt-section">
                  <div class="kt-section__content">
                    <button type="button" class="btn btn-outline-brand mb-4" data-toggle="modal" data-target="#editStudentModal">Thêm mới</button>
                    <table class="table table-bordered table-hover">
                      <thead class="thead-light">
                        <tr>
                          <th>#</th>
                          <th>Hãng xe</th>
                          <th>Model</th>
                          <th>Số ghế</th>
                          <th>Loại nhiên liệu</th>
                          <th>Dung tích</th>
                          <th>Biển số</th>
                          <th>Ngày bảo trì</th>
                          <th>Km bảo trì</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Honda</td>
                          <td>the Bird</td>
                          <td>10000</td>
                          <td>dầu</td>
                          <td>1000</td>
                          <td>2sdfsd55</td>
                          <td>Ngày bảo trì</td>
                          <td>Km bảo trì</td>
                          <td>
                            <button type="button" class="btn btn-outline-brand" data-toggle="modal" data-target="#editStudentModal">Sửa</button>
                            <button type="button" class="btn btn-outline-danger">Xóa</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!--end::Section-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end:: Content -->
    </div>
    {{> editCarModelModal}}
  </template>
  
  
  <template name="editCarModelModal">
    <div class="modal fade" id="editStudentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <form class="kt-form kt-form--label-right">
            <div class="kt-portlet__body">
              <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Hãng xe</label>
                <div class="col-10">
                  <input class="form-control" type="text" value="Artisanal kale" id="example-text-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-search-input" class="col-2 col-form-label">model</label>
                <div class="col-10">
                  <input class="form-control" type="search" value="How do I shoot web" id="example-search-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-email-input" class="col-2 col-form-label">Số ghế</label>
                <div class="col-10">
                  <input class="form-control" type="email" value="bootstrap@example.com" id="example-email-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-url-input" class="col-2 col-form-label">Loại nhiên liệu</label>
                <div class="col-10">
                  <input class="form-control" type="url" value="https://getbootstrap.com" id="example-url-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-tel-input" class="col-2 col-form-label">Dung tích</label>
                <div class="col-10">
                  <input class="form-control" type="tel" value="1-(555)-555-5555" id="example-tel-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-date-input" class="col-2 col-form-label">Biển số</label>
                <div class="col-10">
                  <input class="form-control" type="file" value="2011-08-19" id="example-date-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-tel-input" class="col-2 col-form-label">Ngày bảo trì</label>
                <div class="col-10">
                  <input class="form-control" type="tel" value="1-(555)-555-5555" id="example-tel-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-date-input" class="col-2 col-form-label">Km bảo trì</label>
                <div class="col-10">
                  <input class="form-control" type="file" value="2011-08-19" id="example-date-input">
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
          <button type="button" class="btn btn-primary">Xác nhận</button>
        </div>
      </div>
    </div>
  </div>
  </template>