<template name="studentManager">
  <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <!-- begin:: Subheader -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
      <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
          <h3 class="kt-subheader__title">

            Quản lý học sinh</h3>

          <span class="kt-subheader__separator kt-hidden"></span>
          <div class="kt-subheader__breadcrumbs">
            <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="" class="kt-subheader__breadcrumbs-link">
              SchoolBus </a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="" class="kt-subheader__breadcrumbs-link">
              Quản lý học sinh</a>
          </div>
        </div>
      </div>
    </div>
    <!-- end:: Subheader -->

    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
      <div class="row">
        <div class="col">

          <div class="kt-portlet">
            <div class="kt-portlet__head">
              <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                  Danh sách học sinh
                </h3>
              </div>
            </div>

            <div class="kt-portlet__body">
              <!--begin::Section-->
              <div class="kt-section">
                <div class="kt-section__content">
                  <button type="button" class="btn btn-outline-brand mb-4 add-more" data-toggle="modal"
                    data-target="#editStudentModal">Thêm mới</button>
                  <table class="table table-bordered table-hover">
                    <thead class="thead-light">
                      <tr>
                        <th></th>
                        <th>Họ tên</th>
                        <th>Địa chỉ</th>
                        <th>Số điện thoại</th>
                        <th>Email</th>
                        <th>Trường</th>
                        <th>Lớp</th>
                        <th>Mã học sinh</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody id="table-body">
                      
                    </tbody>
                  </table>
                </div>
              </div>
              <!--end::Section-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end:: Content -->
  </div>
  {{> editStudentModal}}
</template>


<template name="editStudentModal">
  <div class="modal fade" id="editStudentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Thêm mới</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <form class="kt-form kt-form--label-right">
            <div class="kt-portlet__body">
              <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Họ tên</label>
                <div class="col-10">
                  <input class="form-control" type="text" id="name-input" name="name">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-email-input" class="col-2 col-form-label">Địa chỉ</label>
                <div class="col-10">
                  <input class="form-control" type="text" id="address-input" name="address">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-url-input" class="col-2 col-form-label">Số điện thoại</label>
                <div class="col-10">
                  <input class="form-control" type="tel" id="phonenumber-input" name="phone">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-tel-input" class="col-2 col-form-label">Email</label>
                <div class="col-10">
                  <input class="form-control" type="email" id="email-input" name="email">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-2 col-form-label"
                  >Trường</label
                >
                <div class="col-10">
                  <div class="dropdown bootstrap-select form-control kt-">
                    <select
                      class="form-control kt-selectpicker"
                      data-size="4"
                      tabindex="-98"
                    >
                      <option>Mustard</option> </select
                    ><button
                      type="button"
                      class="btn dropdown-toggle btn-light button-school-selected"
                      data-toggle="dropdown"
                      role="combobox"
                      aria-owns="bs-select-2"
                      aria-haspopup="listbox"
                      aria-expanded="false"
                      title="chọn trường"
                    >
                      <div class="filter-option">
                        <div class="filter-option-inner">
                          <div class="filter-option-inner-inner school-result">Chọn Trường</div>
                        </div>
                      </div>
                    </button>
                    <div
                      class="dropdown-menu"
                      x-placement="bottom-start"
                      style="max-height: 182px; overflow: hidden; min-width: 393px; position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 36px, 0px);"
                    >
                      <div
                        class="inner show"
                        role="listbox"
                        id="bs-select-2"
                        tabindex="-1"
                        aria-activedescendant="bs-select-2-1"
                        style="max-height: 156px; overflow-y: auto;"
                      >
                        <ul
                          class="dropdown-menu inner show"
                          role="presentation"
                          style="margin-top: 0px; margin-bottom: 0px;"
                          id="school-select"
                        >
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-2 col-form-label"
                  >Lớp</label
                >
                <div class="col-10">
                  <div class="dropdown bootstrap-select form-control kt-">
                    <select
                      class="form-control kt-selectpicker"
                      data-size="4"
                      tabindex="-98"
                    >
                      <option>Mustard</option> </select
                    ><button
                      type="button"
                      class="btn dropdown-toggle btn-light button-class-selected"
                      data-toggle="dropdown"
                      role="combobox"
                      aria-owns="bs-select-2"
                      aria-haspopup="listbox"
                      aria-expanded="false"
                      title="chọn lớp"
                    >
                      <div class="filter-option">
                        <div class="filter-option-inner">
                          <div class="filter-option-inner-inner class-result">Chọn Lớp</div>
                        </div>
                      </div>
                    </button>
                    <div
                      class="dropdown-menu"
                      x-placement="bottom-start"
                      style="max-height: 182px; overflow: hidden; min-width: 393px; position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 36px, 0px);"
                    >
                      <div
                        class="inner show"
                        role="listbox"
                        id="bs-select-2"
                        tabindex="-1"
                        aria-activedescendant="bs-select-2-1"
                        style="max-height: 156px; overflow-y: auto;"
                      >
                        <ul
                          class="dropdown-menu inner show"
                          role="presentation"
                          style="margin-top: 0px; margin-bottom: 0px;"
                          id="class-select"
                        >
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="example-datetime-local-input" class="col-2 col-form-label">Mã học sinh</label>
                <div class="col-10">
                  <input class="form-control" type="number" name="IDstudent"
                    id="student-id-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-datetime-local-input" class="col-2 col-form-label">Trạng thái</label>
                <div class="col-10">
                  <input class="form-control" type="number" name="status">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-date-input" class="col-2 col-form-label">Ảnh đại diện</label>
                <div class="col-10">
                  <input class="form-control" type="file" id="image-input" name="image">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancel-button">Hủy</button>
              <button type="submit" class="btn btn-primary" id="confirm-button">Xác nhận</button>
          </div>
          </form>
        </div>   
      </div>
    </div>
  </div>
</template>