<template name="carStopList">
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
        <!-- begin:: Subheader -->
        <div class="kt-subheader   kt-grid__item" id="kt_subheader">
            <div class="kt-container  kt-container--fluid ">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">

                        Quản trị viên </h3>

                    <span class="kt-subheader__separator kt-hidden"></span>
                    <div class="kt-subheader__breadcrumbs">
                        <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                        <span class="kt-subheader__breadcrumbs-separator"></span>
                        <a href="" class="kt-subheader__breadcrumbs-link">
                            SchoolBus </a>
                        <span class="kt-subheader__breadcrumbs-separator"></span>
                        <a href="" class="kt-subheader__breadcrumbs-link">
                            Quản lí điểm dừng</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end:: Subheader -->

        <!-- begin:: Content -->
        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
            <div class="row">
                <div class="col">

                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Danh sách điểm dừng
                                </h3>
                            </div>
                        </div>

                        <div class="kt-portlet__body">
                            <!--begin::Section-->
                            <div class="kt-section">
                                <div class="kt-section__content">
                                    <a href="/carStop"><button type="button"
                                            class="btn btn-outline-brand mb-4 add-more">Thêm mới</button></a>
                                    <p id="empty-data" class="text-muted font-14 d-none">
                                        Không có dữ liệu
                                    </p>
                                    <table class="table table-bordered table-hover" id="carStopTable">
                                        <thead class="thead-light">
                                            <tr>
                                                <th width='5%'>#</th>
                                                <th>Tên điểm dừng</th>
                                                <th width='50%'>Địa chỉ</th>
                                                {{#if isSuperadmin}}
                                                <th>Trường</th>
                                                {{/if}}
                                                <th width='13%'>Hành động</th>
                                            </tr>
                                        </thead>
                                        <tbody id="table-body">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--end::Section-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end:: Content -->
    </div>
</template>

<template name="carStopListFilter">
    {{#if isSuperadmin}}
    <div class="form-group mb-2">
        <label for="admin-parent-route" class="col-form-label">Trường</label>
        <select class="form-control filter-input" id="school-filter">
            <option value="">Chọn trường</option>
            {{#each schools}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>
    </div>
    {{/if}}
    <div class="form-group mb-2">
        <label for="admin-parent-route" class="col-form-label">Tên điểm dừng</label>
        <input class="form-control filter-input" type="text" placeholder="Tên điểm dừng" id="carStop-name-filter">
    </div>
    <div class="form-group mb-2">
        <label for="admin-parent-route" class="col-form-label">Địa chỉ</label>
        <input class="form-control filter-input" type="text" placeholder="Biển số" id="carStop-address-filter">
    </div>
    <div class="form-group mt-4">
        <button type="submit" class="btn btn-primary btn-sm" id="filter-button">Tìm kiếm</button>
        <button type="submit" class="btn btn-success btn-sm" id="refresh-button">Refresh</button>
    </div>
</template>