<template name="tripManager">
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
        <!-- begin:: Subheader -->
        <div class="kt-subheader   kt-grid__item" id="kt_subheader">
            <div class="kt-container  kt-container--fluid ">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">Quản lý chuyến đi</h3>
                    <span class="kt-subheader__separator kt-hidden"></span>
                    <div class="kt-subheader__breadcrumbs">
                        <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                        <span class="kt-subheader__breadcrumbs-separator"></span>
                        <a href="" class="kt-subheader__breadcrumbs-link">
                            SchoolBus </a>
                        <span class="kt-subheader__breadcrumbs-separator"></span>
                        <a href="" class="kt-subheader__breadcrumbs-link">Quản lý chuyến đi</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end:: Subheader -->

        <!-- begin:: Content -->
        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
            <div class="row">
                <div class="col">

                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Danh sách chuyến
                                </h3>
                            </div>
                        </div>

                        <div class="kt-portlet__body">
                            <!--begin::Section-->
                            <div class="kt-section">
                                <div class="kt-section__content">
                                    <div class="row">
                                        <div class="col-12">
                                            <button type="button"
                                                class="btn btn-outline-brand mb-4 fa-pull-left add-more"
                                                data-toggle="modal" data-target="#editTripManagerModal">Thêm
                                                mới</button>
                                            <div class="selectTime fa-pull-right">
                                                <div class="input-group">
                                                    <input type="text" id="select_date" class="form-control"
                                                        autocomplete="off" placeholder="Select date range">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text"><i
                                                                class="la la-calendar-check-o"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="kt-portlet__body trip_list">
                                        {{#if hasData}}
                                            {{#each tripList}}
                                            {{> tripHtml}}
                                            {{/each}}
                                        {{else}}
                                        <div class="alert alert-custom alert-secondary fade show mb-5" role="alert">
                                            <div class="alert-icon"><i class="flaticon-warning"></i></div>
                                            <div class="alert-text">Không có chuyến đi trong ngày!</div>
                                            <div class="alert-close">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true"><i class="ki ki-close"></i></span>
                                                </button>
                                            </div>
                                        </div>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                            <!--end::Section-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end:: Content -->
    </div>
    {{> editTripManagerModal}}
</template>

<template name="editTripManagerModal">
    <div class="modal fade" id="editTripManagerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chuyến đi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="route-name" class="form-control-label">Thời gian khởi hành</label>
                            <input type="datetime" class="form-control" id="start-time" autocomplete="off"
                                placeholder="Chọn ngày">
                        </div>
                        <div class="form-group">
                            <label>Gán cung đường</label>
                            <div></div>
                            <select class="custom-select form-control" id="routeSelect">
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-primary" id="confirm-button">Xác nhận</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</template>

<template name="tripHtml">
    <div class="kt-widget kt-widget--user-profile-3" style="background: bisque;
            border-radius: 20px !important;
            padding: 11px; margin-bottom: 10px;">
        <div class="kt-widget__top">
            <div class="kt-widget__media">
                <img src="{{_URL_images}}/{{driver.user.image}}" alt="image">
            </div>
            <div class="kt-widget__content">
                <div class="kt-widget__head">
                    <a href="#" class="kt-widget__username">
                        Tài xế: {{driver.user.name}}
                        <i class="flaticon2-correct"></i>
                    </a>

                    <div class="kt-widget__action">
                        <span class="btn btn-label-brand btn-sm btn-bold btn-upper">Biển số: {{car.numberPlate}}</span>
                        <span class="btn btn-{{tripStatus.classname}} btn-sm btn-bold btn-upper">{{tripStatus.text}}</span>
                    </div>
                </div>

                <div class="kt-widget__subhead" style="font-size: 15px;">
                    <div class="row">
                        <i class="flaticon2-map"></i>&nbsp;
                        <label for="route-name" class="form-control-label">Cung đường:</label>&nbsp;
                        <a href="#" id="route-name">{{route.name}}</a>
                    </div>
                    <div class="row">
                        <i class="flaticon2-calendar-1"></i>&nbsp;
                        <label for="time-start" class="form-control-label">Thời gian khởi hành:</label>&nbsp;
                        <a href="#" id="time-start">{{startTime}}</a>
                    </div>
                    <div class="row">
                        <div class="col-12" style="padding-left: 0px;">
                            <i class="flaticon2-phone"></i>&nbsp;
                            <label for="phonenumber" class="form-control-label">Liên hệ:</label>&nbsp;
                            <a href="#" id="phonenumber">{{driver.user.phone}}</a>
                            <div class="fa-pull-right">
                                <button type="button" class="btn btn-danger btn-sm modify-button"
                                    data-json="">Sửa</button>
                                <span></span>
                                <a href="tripManager/{{_id}}"><button type="button"
                                        class="btn btn-success btn-sm">Xem thông tin</button></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>