<template name="listClass">
  <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <!-- begin:: Subheader -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
      <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
          <h3 class="kt-subheader__title">

            Giáo viên</h3>

          <span class="kt-subheader__separator kt-hidden"></span>
          <div class="kt-subheader__breadcrumbs">
            <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="" class="kt-subheader__breadcrumbs-link">
              SchoolBus </a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="" class="kt-subheader__breadcrumbs-link">
              Danh sách lớp</a>
          </div>
        </div>
      </div>
    </div>
    <!-- end:: Subheader -->

    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
      <div class="row">
        {{#each classesInfo}}
        {{> classItem}}
        {{/each}}
      </div>
    </div>
  </div>
</template>

<template name="classItem">
  <div class="col-md-6">
    <div class="kt-portlet kt-portlet--height-fluid">
      <div class="kt-portlet__head kt-portlet__head--noborder"></div>
      <div class="kt-portlet__body">
        <!--begin::Widget -->
        <div class="kt-widget kt-widget--user-profile-2">
          <div class="kt-widget__head">
            <div class="kt-widget__info">
              <a href="#" class="kt-widget__username">
                {{name}}
              </a>
              <span class="kt-widget__desc">
                {{school.name}}
              </span>
            </div>
          </div>
          <div class="kt-widget__footer">
            <a href="/teacher/class/{{_id}}" class="btn btn-label-warning btn-lg btn-upper">danh sách học sinh</a>
          </div>
        </div>
        <!--end::Widget -->
      </div>
    </div>
  </div>
  
</template>