<template name="carStop">
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-container  kt-container--fluid ">
            <div class="kt-subheader__main">

                <h3 class="kt-subheader__title">
                    Quản trị viên
                </h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <div class="kt-subheader__group" id="kt_subheader_search">
                    <span class="kt-subheader__desc" id="kt_subheader_total">
                        Quản lý điểm dừng </span>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="row">
            <div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1">
                <div class="kt-portlet">
                    <form class="kt-form">
                        <div class="kt-portlet__body anchorHeight">
                            <div class="kt-section kt-section--first">
                                <div class="form-group row">
                                    <label class = "required-input-label">Vị trí:</label>
                                    <input type="text" class="form-control position" placeholder="Vị trí"
                                        name="location" id="location" disabled>
                                    <span class="form-text text-muted"></span>
                                </div>
                                <div class="form-group row">
                                    <label class = "required-input-label">Đặt tên điểm dừng:</label>
                                    <input type="text" class="form-control" placeholder="Nhập tên điểm dừng"
                                        name="stopName" id="stopName">
                                </div>
                                <!-- <div class="form-group row">
                                    <label class = "required-input-label">Loại điểm dừng:</label>
                                    <input type="text" class="form-control" placeholder="Nhập loại điểm dừng"
                                        name="stopType" id="stopType">
                                        <span class="form-text text-muted">Loại điểm dừng chỉ được điền 0 hoặc 1.</span>
                                </div> -->
                                <div class="form-group row">
                                    <label class = "required-input-label">Địa chỉ:</label>
                                    <input type="text" class="form-control address" placeholder="Nhập địa chỉ"
                                        name="address" id="address">
                                </div>
                                {{#if isSuperadmin}}
                                <div class="form-group row">
                                    <label class = "required-input-label">Trường:</label>
                                    <select id="school-select" class="form-control school" name="school">
                                        <option value=""></option>
                                        {{#each schools}}
                                        <option value="{{_id}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                {{/if}}
                                <div class="kt-form__actions">
                                    <button type="submit" class="btn btn-sm btn-primary confirm-button"
                                        id="confirm-button">Gửi</button>
                                    <a href="/carStopList"><button type="reset" class="btn btn-sm btn-secondary">Xem danh sách
                                            điểm
                                            dừng</button></a>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                <!--end:: Widgets/Activity-->
            </div>
            <div class="col-lg-6 col-xl-8 order-lg-1 order-xl-1">
                <div class="kt-portlet">
                    <div class="kt-portlet__body">{{>minimap}}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="minimap">
    <div id="minimap" style="padding: 0px; z-index: 0;"></div>
</template>