<template name="carModelManager">
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
      <!-- begin:: Subheader -->
      <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-container  kt-container--fluid ">
          <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
  
              Quản lý loại xe </h3>
  
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
              <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
              <span class="kt-subheader__breadcrumbs-separator"></span>
              <a href="" class="kt-subheader__breadcrumbs-link">
                SchoolBus </a>
              <span class="kt-subheader__breadcrumbs-separator"></span>
              <a href="" class="kt-subheader__breadcrumbs-link">
                Quản lý loại xe</a>
            </div>
          </div>
        </div>
      </div>
      <!-- end:: Subheader -->
  
      <!-- begin:: Content -->
      <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="row">
          <div class="col">
  
            <div class="kt-portlet">
              <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                  <h3 class="kt-portlet__head-title">
                    Danh sách loại xe
                  </h3>
                </div>
              </div>
  
              <div class="kt-portlet__body">
                <!--begin::Section-->
                <div class="kt-section">
                  <div class="kt-section__content">
                    <button type="button" class="btn btn-outline-brand mb-4 add-more" >Thêm mới</button>
                    <div class="kt-datatable kt-datatable--default kt-datatable--brand">
                      <p id="empty-data" class="text-muted font-14 d-none">
                        Không có dữ liệu
                      </p>
                    <table class="table table-bordered table-hover">
                      <thead class="thead-light">
                        <tr>
                          <th>#</th>
                          <th>Hãng xe</th>
                          <th>Model</th>
                          <th>Số ghế</th>
                          <th>Loại nhiên liệu</th>
                          <th>Dung tích</th>
                          <th>Ngày bảo trì</th>
                          <th>Km bảo trì</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody id="table-body">
                      
                      </tbody>
                    </table>
                    </div>
                  </div>
                </div>
                <!--end::Section-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end:: Content -->
    </div>
    {{> editCarModelModal}}
  </template>
  
  
  <template name="editCarModelModal">
    <div class="modal fade" id="editCarModelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <form class="kt-form kt-form--label-right">
            <div class="kt-portlet__body">
              <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label required-input-label" >Hãng xe</label>
                <div class="col-10">
                  <input class="form-control" type="text" id="example-text-input" name="brand-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-search-input" class="col-2 col-form-label required-input-label">Model</label>
                <div class="col-10">
                  <input class="form-control" type="text" id="example-search-input" name="model-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-email-input" class="col-2 col-form-label required-input-label">Số ghế</label>
                <div class="col-10">
                  <input class="form-control" type="number" id="example-email-input" name="seat-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-url-input" class="col-2 col-form-label required-input-label">Loại nhiên liệu</label>
                <div class="col-10">
                  <input class="form-control" type="text" id="example-url-input" name="fuelType-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-tel-input" class="col-2 col-form-label required-input-label">Dung tích</label>
                <div class="col-10">
                  <input class="form-control" type="text" id="example-tel-input" name="capacity-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-tel-input" class="col-2 col-form-label required-input-label">Ngày bảo trì</label>
                <div class="col-10">
                  <input class="form-control" type="text" name="maintenance-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-date-input" class="col-2 col-form-label required-input-label">Km bảo trì</label>
                <div class="col-10">
                  <input class="form-control" type="text" id="example-date-i1nput" name="km-input">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary cancel-button" data-dismiss="modal">Hủy</button>
              <button type="submit" class="btn btn-primary confirm-button">Xác nhận</button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>
  </template>