<template name="parentManager">
  <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <!-- begin:: Subheader -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
      <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
          <h3 class="kt-subheader__title">

            Quản lý phụ huynh </h3>

          <span class="kt-subheader__separator kt-hidden"></span>
          <div class="kt-subheader__breadcrumbs">
            <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="" class="kt-subheader__breadcrumbs-link">
              SchoolBus </a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="" class="kt-subheader__breadcrumbs-link">
              Quản lý phụ huynh</a>
          </div>
        </div>
      </div>
    </div>
    <!-- end:: Subheader -->

    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
      <div class="row">
        <div class="col">

          <div class="kt-portlet">
            <div class="kt-portlet__head">
              <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                  Danh sách phụ huynh
                </h3>
              </div>
            </div>

            <div class="kt-portlet__body">
              <!--begin::Section-->
              <div class="kt-section">
                <div class="kt-section__content">
                  <button type="button" id="add-button" class="btn btn-outline-brand mb-4" data-toggle="modal"
                    data-target="#editParentModal">Thêm mới</button>
                  <table class="table table-bordered table-hover" id="parentTable">
                    <thead class="thead-light">
                      <tr>
                        <th>#</th>
                        <th>Họ tên</th>
                        <th>Số điện thoại</th>
                        <th>Email</th>
                        <th>Địa chỉ</th>
                        <th>Phụ huynh của</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody id="table-body">

                    </tbody>
                  </table>
                </div>
              </div>
              <!--end::Section-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end:: Content -->
  </div>
  {{> editParentModal}}
</template>


<template name="editParentModal">
  <div class="modal fade" id="editParentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <form class="kt-form kt-form--label-right">
            <h6 class="kt-section kt-section__title">Thông tin cá nhân</h6>
            <div class="kt-portlet__body">
              <input type="hidden" value="" id="parent-id">
              <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Họ và tên</label>
                <div class="col-10">
                  <input class="form-control" type="text" value="" placeholder="Họ và tên" id="parent-name">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-search-input" class="col-2 col-form-label">Số điện thoại</label>
                <div class="col-10">
                  <input class="form-control" type="text" value="" placeholder="Số điện thoại" id="parent-phone">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-email-input" class="col-2 col-form-label">Email</label>
                <div class="col-10">
                  <input class="form-control" type="email" value="" placeholder="Email" id="parent-email">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-url-input" class="col-2 col-form-label">Địa chỉ</label>
                <div class="col-10">
                  <input class="form-control" type="text" value="" placeholder="Địa chỉ" id="parent-address">
                </div>
              </div>
            </div>
            <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg"></div>
            <div class="kt-section">
              <h6 id="parent-student">Phụ huynh học sinh:
              </h6>

            </div>
            <div class="kt-portlet__body">
              {{#if isSuperadmin}}
              <div class="form-group row">
                <label for="example-tel-input" class="col-2 col-form-label">Trường: </label>
                <div class="col-10">
                  <select id="school-select" class="form-control">
                    <option value=""></option>
                    {{#each schools}}
                    <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              {{/if}}
              <div class="form-group row">
                <label for="example-tel-input" class="col-2 col-form-label">Lớp: </label>
                <div class="col-10">
                  <select id="class-select" class="form-control">
                    <option value=""></option>
                    {{#each class}}
                    <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="example-tel-input" class="col-2 col-form-label">Học sinh: </label>
                <div class="col-10">
                  <select id="student-select" class="form-control">
                    {{#each students}}
                    <option value="{{_id}}">{{user.name}} - SĐT: {{user.phone}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-primary cancel-button" id="addStudent">Thêm học sinh</button>
            <div class="kt-section__content">
              <ul id="student-info">

              </ul>
            </div>
            <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg"></div>
            <div class="kt-portlet__body">
              <div class="form-group row">
                <label for="example-date-input" class="col-2 col-form-label">Ảnh đại diện</label>
                <div class="col-5">
                  <div class="dropzone dropzone-default dropzone-brand" id="kt_dropzone_1">
                    <div class="dropzone-msg dz-message needsclick">
                      <h3 class="dropzone-msg-title">Kéo ảnh hoặc click để chọn ảnh.</h3>
                      <span class="dropzone-msg-desc"><strong>jpg, jpeg, png ...</strong></span>
                    </div>
                  </div>
                </div>
                <div class="col-5">
                  <div class="avatabox kt-hidden">
                    <img src="" alt="avata" id="avata">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary cancel-button" data-dismiss="modal">Hủy</button>
          <button type="button" class="btn btn-primary submit-button">Xác nhận</button>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="parentFilter">
  {{#if isSuperadmin}}
  <div class="form-group mb-2">
    <label for="admin-parent-route" class="col-form-label">Trường</label>
    <select class="form-control filter-input" id="school-filter">
      <option value=""></option>
      {{#each schools}}
      <option value="{{_id}}">{{name}}</option>
      {{/each}}
    </select>
  </div>
  {{/if}}
  <div class="form-group mb-2">
    <label for="" class="col-form-label">Họ tên</label>
    <input class="form-control filter-input" type="text" placeholder="Họ tên" id="name-filter">
  </div>
  <div class="form-group mb-2">
    <label for="" class="col-form-label">Số điện thoại</label>
    <input class="form-control filter-input" type="text" placeholder="Số điện thoại" id="phone-filter">
  </div>
  <div class="form-group mb-2">
    <label for="" class="col-form-label">Email</label>
    <input class="form-control filter-input" type="text" placeholder="Email" id="email-filter">
  </div>
  <!-- <div class="form-group mb-2">
    <label for="" class="col-form-label">Phụ huynh của</label>
    <input class="form-control filter-input" type="text" placeholder="Tên học sinh" id="student-filter">
  </div> -->
  <div class="form-group mt-4">
    <button type="submit" class="btn btn-primary btn-sm" id="filter-button">Tìm kiếm</button>
    <button type="submit" class="btn btn-success btn-sm" id="refresh-button">Refresh</button>
  </div>
</template>