<template name="parentManager">
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
      <!-- begin:: Subheader -->
      <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-container  kt-container--fluid ">
          <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
  
              Quản lý phụ huynh </h3>
  
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
              <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
              <span class="kt-subheader__breadcrumbs-separator"></span>
              <a href="" class="kt-subheader__breadcrumbs-link">
                SchoolBus </a>
              <span class="kt-subheader__breadcrumbs-separator"></span>
              <a href="" class="kt-subheader__breadcrumbs-link">
                Quản lý phụ huynh</a>
            </div>
          </div>
        </div>
      </div>
      <!-- end:: Subheader -->
  
      <!-- begin:: Content -->
      <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="row">
          <div class="col">
  
            <div class="kt-portlet">
              <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                  <h3 class="kt-portlet__head-title">
                    Danh sách phụ huynh
                  </h3>
                </div>
              </div>
  
              <div class="kt-portlet__body">
                <!--begin::Section-->
                <div class="kt-section">
                  <div class="kt-section__content">
                    <button type="button" id="add-button" class="btn btn-outline-brand mb-4" data-toggle="modal" data-target="#editParentModal">Thêm mới</button>
                    <table class="table table-bordered table-hover">
                      <thead class="thead-light">
                        <tr>
                          <th>#</th>
                          <th>Họ tên</th>
                          <th>Tên đăng nhập</th>
                          <th>Số điện thoại</th>
                          <th>Email</th>
                          <th>Địa chỉ</th>
                          <th>Phụ huynh của</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody  id="table-body">
                      
                      </tbody>
                    </table>
                  </div>
                </div>
                <!--end::Section-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end:: Content -->
    </div>
    {{> editParentModal}}
  </template>
  
  
  <template name="editParentModal">
    <div class="modal fade" id="editParentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <form class="kt-form kt-form--label-right">
            <h6 class="kt-section kt-section__title">Thông tin cá nhân</h6>
            <div class="kt-portlet__body">
              <input type="hidden" value="" id="parent-id">
              <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Họ và tên</label>
                <div class="col-10">
                  <input class="form-control" type="text" value="" placeholder="Họ và tên" id="parent-name">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-search-input" class="col-2 col-form-label">Số điện thoại</label>
                <div class="col-10">
                  <input class="form-control" type="text" value="" placeholder="Số điện thoại" id="parent-phone">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-email-input" class="col-2 col-form-label">Email</label>
                <div class="col-10">
                  <input class="form-control" type="email" value="" placeholder="Email" id="parent-email">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-url-input" class="col-2 col-form-label">Địa chỉ</label>
                <div class="col-10">
                  <input class="form-control" type="text" value="" placeholder="Địa chỉ" id="parent-address">
                </div>
              </div>
            </div>
            <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg"></div>
            <div class="kt-section">
              <h6 id="parent-student">Phụ huynh học sinh: <span></span></h6>
              <div class="kt-section__content" id="student-info">

              </div>
             </div>
            <div class="kt-portlet__body">
              <div class="form-group row">
                <label for="example-tel-input" class="col-2 col-form-label">Trường: </label>
                <div class="col-10">
                  <select id="school-select" class="form-control">
										<option value=""></option>
									</select>
                </div>
              </div>
              <div class="form-group row">
                <label for="example-tel-input" class="col-2 col-form-label">Lớp: </label>
                <div class="col-10">
                  <select id="class-select" class="form-control">
										<option value=""></option>
									</select>
                </div>
              </div>
              <div class="form-group row">
                <label for="example-tel-input" class="col-2 col-form-label">Học sinh: </label>
                <div class="col-10">
                  <select id="student-select" class="form-control">
										<option value=""></option>
									</select>
                </div>
              </div>
            </div>
            <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg"></div>
            
            <div class="kt-portlet__body">
              <div class="form-group row">
                <label for="example-date-input" class="col-2 col-form-label">Ảnh đại diện</label>
                <div class="col-5">
                  <div class="dropzone dropzone-default dropzone-brand" id="kt_dropzone_1">
                    <div class="dropzone-msg dz-message needsclick">
                      <h3 class="dropzone-msg-title">Kéo ảnh hoặc click để chọn ảnh.</h3>
                      <span class="dropzone-msg-desc"><strong>jpg, jpeg, png ...</strong></span>
                    </div>
                  </div>
                </div>
                <div class="col-5">
                  <div class="dropzone dropzone-default">
                    <div class="dropzone-previews">
                      <div class="dz-preview dz-file-preview">
                        <div class="dz-image"><img data-dz-thumbnail="" alt="" src=""></div>
                        <div class="dz-details">
                          <div class="dz-filename"><span data-dz-name></span></div>
                        </div>
                        <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary cancel-button" data-dismiss="modal">Hủy</button>
          <button type="button" class="btn btn-primary submit-button">Xác nhận</button>
        </div>
      </div>
    </div>
  </div>
  </template>