#kt_subheader {
    z-index: 1;
}

.dropzone {
    height: 160px;
    min-width: 160px;

    .dz-preview {
        margin: 0 !important;
    }
}

.avatabox {
    height: 160px;
    text-align: center;

    img {
        border-radius: 15px;
        border: 2px dashed #5d78ff;
        height: 160px;
        width: 160px;
        object-fit: cover;
    }
}

.kt-header-mobile__toolbar .kt-header__topbar-item.kt-header__topbar-item--user .kt-header__topbar-user img {
    -ms-flex-item-align: center;
    align-self: center;
    max-height: 34px;
    border-radius: 4px;
}

.select2-selection__rendered, .select2-results__option {
    font-family: Arial, Helvetica, sans-serif;
}

.kt-widget17 .kt-widget17__stats.custom_stats {
    margin: 0 auto;
    width: 100%;

    .kt-widget17__items>.kt-widget17__item {
        border: 1px solid rgb(64, 79, 167);
        box-sizing: border-box;

        .kt-widget17__icon, .information {
            display: inline-block;
        }

        .information {
            margin-left: 1rem;

            .kt-widget17__subtitle {
                margin: 0 auto;
            }

            .kt-widget17__desc {
                font-weight: bold;
            }
        }
    }
}

.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-login__logo.logo{
    margin: 0 auto;
}

// .kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-login__logo {
//     margin: auto;
// }

@media (max-width: 768px) {
    .kt-footer{
        display: none;
    }
}