#kt_subheader {
    z-index: 1;
}

.dropzone{
    height: 160px;
    min-width: 160px;
    .dz-preview{
        margin: 0!important;
    }
}

.avatabox{
    height: 160px;
    text-align: center;
    img{
        border-radius: 15px;
        border: 2px dashed #5d78ff;
        height: 160px;
        width: 160px;
        object-fit: cover;
    }
}

.kt-header-mobile__toolbar .kt-header__topbar-item.kt-header__topbar-item--user .kt-header__topbar-user img {
    -ms-flex-item-align: center;
    align-self: center;
    max-height: 34px;
    border-radius: 4px;
}