<template name="sample">
  <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <!-- begin:: Subheader -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
      <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
          <h3 class="kt-subheader__title">

            Badge </h3>

          <span class="kt-subheader__separator kt-hidden"></span>
          <div class="kt-subheader__breadcrumbs">
            <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="" class="kt-subheader__breadcrumbs-link">
              Components </a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="" class="kt-subheader__breadcrumbs-link">
              Custom </a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="" class="kt-subheader__breadcrumbs-link">
              Badge </a>
          </div>
        </div>
        <div class="kt-subheader__toolbar">
          <div class="kt-subheader__wrapper">
            <a href="#" class="btn kt-subheader__btn-primary">
              Actions &nbsp;
              <!--<i class="flaticon2-calendar-1"></i>-->
            </a>

            <div class="dropdown dropdown-inline" data-toggle="kt-tooltip" title="" data-placement="left"
              data-original-title="Quick actions">
              <a href="#" class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                  height="24px" viewBox="0 0 24 24" version="1.1"
                  class="kt-svg-icon kt-svg-icon--success kt-svg-icon--md">
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
                    <path
                      d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z"
                      id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                    <path
                      d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z"
                      id="Combined-Shape" fill="#000000"></path>
                  </g>
                </svg>
                <!--<i class="flaticon2-plus"></i>-->
              </a>
              <div class="dropdown-menu dropdown-menu-fit dropdown-menu-md dropdown-menu-right">
                <!--begin::Nav-->
                <ul class="kt-nav">
                  <li class="kt-nav__head">
                    Add anything or jump to:
                    <i class="flaticon2-information" data-toggle="kt-tooltip" data-placement="right" title=""
                      data-original-title="Click to learn more..."></i>
                  </li>
                  <li class="kt-nav__separator"></li>
                  <li class="kt-nav__item">
                    <a href="#" class="kt-nav__link">
                      <i class="kt-nav__link-icon flaticon2-drop"></i>
                      <span class="kt-nav__link-text">Order</span>
                    </a>
                  </li>
                  <li class="kt-nav__item">
                    <a href="#" class="kt-nav__link">
                      <i class="kt-nav__link-icon flaticon2-calendar-8"></i>
                      <span class="kt-nav__link-text">Ticket</span>
                    </a>
                  </li>
                  <li class="kt-nav__item">
                    <a href="#" class="kt-nav__link">
                      <i class="kt-nav__link-icon flaticon2-telegram-logo"></i>
                      <span class="kt-nav__link-text">Goal</span>
                    </a>
                  </li>
                  <li class="kt-nav__item">
                    <a href="#" class="kt-nav__link">
                      <i class="kt-nav__link-icon flaticon2-new-email"></i>
                      <span class="kt-nav__link-text">Support Case</span>
                      <span class="kt-nav__link-badge">
                        <span class="kt-badge kt-badge--success">5</span>
                      </span>
                    </a>
                  </li>
                  <li class="kt-nav__separator"></li>
                  <li class="kt-nav__foot">
                    <a class="btn btn-label-brand btn-bold btn-sm" href="#">Upgrade plan</a>
                    <a class="btn btn-clean btn-bold btn-sm" href="#" data-toggle="kt-tooltip" data-placement="right"
                      title="" data-original-title="Click to learn more...">Learn more</a>
                  </li>
                </ul>
                <!--end::Nav-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end:: Subheader -->

    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
      <div class="row">
        <div class="col">
          <div class="alert alert-light alert-elevate fade show" role="alert">
            <div class="alert-icon"><i class="flaticon-warning kt-font-brand"></i></div>
            <div class="alert-text">
              Metronic extends <code>Bootstrap Badge</code> component with a variety of options to provide uniquely
              looking Badge component that matches the Metronic's design standards.
              <br>
              For more info please visit the plugin's <a class="kt-link kt-font-bold"
                href="https://getbootstrap.com/docs/4.3/components/badge/" target="_blank">Documentation</a>.
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <!--begin::Portlet-->
          <div class="kt-portlet kt-portlet--tab">
            <div class="kt-portlet__head">
              <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon kt-hide">
                  <i class="la la-gear"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                  Basic Examples
                </h3>
              </div>
            </div>
            <div class="kt-portlet__body">
              <!--begin::Section-->
              <div class="kt-section">
                <span class="kt-section__info">
                  Basic state color badges
                </span>
                <div class="kt-section__content kt-section__content--solid">
                  <span class="kt-badge kt-badge--brand">3</span>
                  <span class="kt-badge kt-badge--dark">4</span>
                  <span class="kt-badge kt-badge--primary">7</span>
                  <span class="kt-badge kt-badge--success">8</span>
                  <span class="kt-badge kt-badge--info">11</span>
                  <span class="kt-badge kt-badge--warning">2</span>
                  <span class="kt-badge kt-badge--danger">5</span>

                </div>
              </div>
              <!--end::Section-->

              <!--begin::Section-->
              <div class="kt-section">
                <span class="kt-section__info">
                  Basic style examples
                </span>
                <div class="kt-section__content kt-section__content--solid">
                  <span class="kt-badge kt-badge--brand">3</span>
                  <span class="kt-badge kt-badge--dark">4</span>
                  <span class="kt-badge kt-badge--primary  kt-badge--inline kt-badge--pill">new</span>
                  <span class="kt-badge kt-badge--success  kt-badge--inline kt-badge--pill">hot</span>
                  <span class="kt-badge kt-badge--info  kt-badge--rounded">11</span>
                  <span class="kt-badge kt-badge--warning  kt-badge--rounded">2</span>
                  <span class="kt-badge kt-badge--danger  kt-badge--rounded">5</span>
                </div>
              </div>
              <!--end::Section-->
            </div>
          </div>
          <!--end::Portlet-->

          <!--begin::Portlet-->
          <div class="kt-portlet kt-portlet--tab">
            <div class="kt-portlet__head">
              <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon kt-hide">
                  <i class="la la-gear"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                  Sizing &amp; Styles
                </h3>
              </div>
            </div>
            <div class="kt-portlet__body">
              <!--begin::Section-->
              <div class="kt-section">
                <span class="kt-section__info">
                  Medium size:
                </span>
                <div class="kt-section__content kt-section__content--solid">
                  <span class="kt-badge kt-badge--brand kt-badge--md">A</span>
                  <span class="kt-badge kt-badge--dark kt-badge--md">B</span>
                  <span class="kt-badge kt-badge--primary kt-badge--md">S</span>
                  <span class="kt-badge kt-badge--success kt-badge--md">D</span>
                  <span class="kt-badge kt-badge--info kt-badge--md">F</span>
                  <span class="kt-badge kt-badge--warning kt-badge--md">R</span>
                  <span class="kt-badge kt-badge--danger kt-badge--md">L</span>
                </div>

                <div class="kt-separator kt-separator--border-dashed"></div>

                <div class="kt-section__content kt-section__content--solid">
                  <span class="kt-badge kt-badge--brand kt-badge--md kt-badge--rounded">A</span>
                  <span class="kt-badge kt-badge--dark kt-badge--md kt-badge--rounded">B</span>
                  <span class="kt-badge kt-badge--primary kt-badge--md kt-badge--rounded">S</span>
                  <span class="kt-badge kt-badge--success kt-badge--md kt-badge--rounded">D</span>
                  <span class="kt-badge kt-badge--info kt-badge--md kt-badge--rounded">F</span>
                  <span class="kt-badge kt-badge--warning kt-badge--md kt-badge--rounded">R</span>
                  <span class="kt-badge kt-badge--danger kt-badge--md kt-badge--rounded">L</span>
                </div>
              </div>
              <!--end::Section-->

              <!--begin::Section-->
              <div class="kt-section">
                <span class="kt-section__info">
                  Large size
                </span>
                <div class="kt-section__content kt-section__content--solid">
                  <span class="kt-badge kt-badge--brand kt-badge--lg">A</span>
                  <span class="kt-badge kt-badge--dark kt-badge--lg">B</span>
                  <span class="kt-badge kt-badge--primary kt-badge--lg">S</span>
                  <span class="kt-badge kt-badge--success kt-badge--lg">D</span>
                  <span class="kt-badge kt-badge--info kt-badge--lg">F</span>
                  <span class="kt-badge kt-badge--warning kt-badge--lg">R</span>
                  <span class="kt-badge kt-badge--danger kt-badge--lg">L</span>
                </div>

                <div class="kt-separator kt-separator--border-dashed"></div>

                <div class="kt-section__content kt-section__content--solid">
                  <span class="kt-badge kt-badge--brand kt-badge--lg kt-badge--rounded">A</span>
                  <span class="kt-badge kt-badge--dark kt-badge--lg kt-badge--rounded">B</span>
                  <span class="kt-badge kt-badge--primary kt-badge--lg kt-badge--rounded">S</span>
                  <span class="kt-badge kt-badge--success kt-badge--lg kt-badge--rounded">D</span>
                  <span class="kt-badge kt-badge--info kt-badge--lg kt-badge--rounded">F</span>
                  <span class="kt-badge kt-badge--warning kt-badge--lg kt-badge--rounded">R</span>
                  <span class="kt-badge kt-badge--danger kt-badge--lg kt-badge--rounded">L</span>
                </div>
              </div>
              <!--end::Section-->

              <!--begin::Section-->
              <div class="kt-section">
                <span class="kt-section__info">
                  Extra large size
                </span>
                <div class="kt-section__content kt-section__content--solid">
                  <span class="kt-badge kt-badge--brand kt-badge--xl">A</span>
                  <span class="kt-badge kt-badge--dark kt-badge--xl">B</span>
                  <span class="kt-badge kt-badge--primary kt-badge--xl">S</span>
                  <span class="kt-badge kt-badge--success kt-badge--xl">D</span>
                  <span class="kt-badge kt-badge--info kt-badge--xl">F</span>
                  <span class="kt-badge kt-badge--warning kt-badge--xl">R</span>
                  <span class="kt-badge kt-badge--danger kt-badge--xl">L</span>
                </div>

                <div class="kt-separator kt-separator--border-dashed"></div>

                <div class="kt-section__content kt-section__content--solid">
                  <span class="kt-badge kt-badge--brand kt-badge--xl kt-badge--rounded">A</span>
                  <span class="kt-badge kt-badge--dark kt-badge--xl kt-badge--rounded">B</span>
                  <span class="kt-badge kt-badge--primary kt-badge--xl kt-badge--rounded">S</span>
                  <span class="kt-badge kt-badge--success kt-badge--xl kt-badge--rounded">D</span>
                  <span class="kt-badge kt-badge--info kt-badge--xl kt-badge--rounded">F</span>
                  <span class="kt-badge kt-badge--warning kt-badge--xl kt-badge--rounded">R</span>
                  <span class="kt-badge kt-badge--danger kt-badge--xl kt-badge--rounded">L</span>
                </div>
              </div>
              <!--end::Section-->
            </div>
          </div>
          <!--end::Portlet-->


          <!--begin::Portlet-->
          <div class="kt-portlet kt-portlet--tab">
            <div class="kt-portlet__head">
              <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon kt-hide">
                  <i class="la la-gear"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                  Unified Styles
                </h3>
              </div>
            </div>
            <div class="kt-portlet__body">
              <!--begin::Section-->
              <div class="kt-section">
                <span class="kt-section__info">
                  Circle and rounded unified styles:
                </span>
                <div class="kt-section__content kt-section__content--solid">
                  <span class="kt-badge kt-badge--unified-brand kt-badge--lg kt-badge--bold">A</span>
                  <span class="kt-badge kt-badge--unified-primary kt-badge--lg kt-badge--bold">S</span>
                  <span class="kt-badge kt-badge--unified-success kt-badge--lg kt-badge--bold">D</span>
                  <span class="kt-badge kt-badge--unified-info kt-badge--lg kt-badge--bold">F</span>
                  <span class="kt-badge kt-badge--unified-warning kt-badge--lg kt-badge--bold">R</span>
                  <span class="kt-badge kt-badge--unified-danger kt-badge--lg kt-badge--bold">L</span>
                </div>

                <div class="kt-separator kt-separator--border-dashed"></div>

                <div class="kt-section__content kt-section__content--solid">
                  <span class="kt-badge kt-badge--unified-brand kt-badge--lg kt-badge--rounded kt-badge--bold">A</span>
                  <span
                    class="kt-badge kt-badge--unified-primary kt-badge--lg kt-badge--rounded kt-badge--bold">S</span>
                  <span
                    class="kt-badge kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold">D</span>
                  <span class="kt-badge kt-badge--unified-info kt-badge--lg kt-badge--rounded kt-badge--bold">F</span>
                  <span
                    class="kt-badge kt-badge--unified-warning kt-badge--lg kt-badge--rounded kt-badge--bold">R</span>
                  <span class="kt-badge kt-badge--unified-danger kt-badge--lg kt-badge--rounded kt-badge--bold">L</span>
                </div>
              </div>
              <!--end::Section-->
            </div>
          </div>
          <!--end::Portlet-->
        </div>

        <div class="col-md-6">

          <!--begin::Portlet-->
          <div class="kt-portlet kt-portlet--tab">
            <div class="kt-portlet__head">
              <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon kt-hide">
                  <i class="la la-gear"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                  More Styles &amp; Options
                </h3>
              </div>
            </div>
            <div class="kt-portlet__body">
              <!--begin::Section-->
              <div class="kt-section">
                <span class="kt-section__info">
                  Square style badges:
                </span>
                <div class="kt-section__content kt-section__content--solid">
                  <span class="kt-badge kt-badge--brand kt-badge--square">3</span>
                  <span class="kt-badge kt-badge--dark kt-badge--square">4</span>
                  <span class="kt-badge kt-badge--primary kt-badge--square">7</span>
                  <span class="kt-badge kt-badge--success kt-badge--square">8</span>
                  <span class="kt-badge kt-badge--info kt-badge--square">11</span>
                  <span class="kt-badge kt-badge--warning kt-badge--square">2</span>
                  <span class="kt-badge kt-badge--danger kt-badge--square">5</span>

                </div>
              </div>
              <!--end::Section-->

              <!--begin::Section-->
              <div class="kt-section">
                <span class="kt-section__info">
                  Dot style examples:
                </span>
                <div class="kt-section__content kt-section__content--solid">
                  <span class="kt-badge kt-badge--brand kt-badge--dot kt-badge--sm"></span>
                  <span class="kt-badge kt-badge--dark kt-badge--dot kt-badge--sm"></span>
                  <span class="kt-badge kt-badge--primary kt-badge--dot kt-badge--sm"></span>
                  <span class="kt-badge kt-badge--success kt-badge--dot kt-badge--sm"></span>
                  <span class="kt-badge kt-badge--info kt-badge--dot kt-badge--sm"></span>
                  <span class="kt-badge kt-badge--warning kt-badge--dot kt-badge--sm"></span>
                  <span class="kt-badge kt-badge--danger kt-badge--dot kt-badge--sm"></span>
                  <div class="kt-space-20"></div>

                  <span class="kt-badge kt-badge--brand kt-badge--dot"></span>
                  <span class="kt-badge kt-badge--dark kt-badge--dot"></span>
                  <span class="kt-badge kt-badge--primary kt-badge--dot"></span>
                  <span class="kt-badge kt-badge--success kt-badge--dot"></span>
                  <span class="kt-badge kt-badge--info kt-badge--dot"></span>
                  <span class="kt-badge kt-badge--warning kt-badge--dot"></span>
                  <span class="kt-badge kt-badge--danger kt-badge--dot"></span>
                  <div class="kt-space-20"></div>


                  <span class="kt-badge kt-badge--brand kt-badge--dot kt-badge--lg"></span>
                  <span class="kt-badge kt-badge--dark kt-badge--dot kt-badge--lg"></span>
                  <span class="kt-badge kt-badge--primary kt-badge--dot kt-badge--lg"></span>
                  <span class="kt-badge kt-badge--success kt-badge--dot kt-badge--lg"></span>
                  <span class="kt-badge kt-badge--info kt-badge--dot kt-badge--lg"></span>
                  <span class="kt-badge kt-badge--warning kt-badge--dot kt-badge--lg"></span>
                  <span class="kt-badge kt-badge--danger kt-badge--dot kt-badge--lg"></span>
                  <div class="kt-space-20"></div>

                  <span class="kt-badge kt-badge--brand kt-badge--dot kt-badge--xl"></span>
                  <span class="kt-badge kt-badge--dark kt-badge--dot kt-badge--xl"></span>
                  <span class="kt-badge kt-badge--primary kt-badge--dot kt-badge--xl"></span>
                  <span class="kt-badge kt-badge--success kt-badge--dot kt-badge--xl"></span>
                  <span class="kt-badge kt-badge--info kt-badge--dot kt-badge--xl"></span>
                  <span class="kt-badge kt-badge--warning kt-badge--dot kt-badge--xl"></span>
                  <span class="kt-badge kt-badge--danger kt-badge--dot kt-badge--xl"></span>
                  <div class="kt-space-20"></div>


                  Pending <span class="kt-badge kt-badge--brand kt-badge--dot"></span> Caption <span
                    class="kt-badge kt-badge--primary kt-badge--dot"></span> Heading <span
                    class="kt-badge kt-badge--info kt-badge--dot"></span> Status <span
                    class="kt-badge kt-badge--danger kt-badge--dot"></span>
                  <div class="kt-space-20"></div>
                  Pending <span class="kt-badge kt-badge--brand kt-badge--dot kt-badge--sm"></span> Caption <span
                    class="kt-badge kt-badge--primary kt-badge--dot kt-badge--sm"></span> Heading <span
                    class="kt-badge kt-badge--info kt-badge--dot kt-badge--sm"></span> Status <span
                    class="kt-badge kt-badge--danger kt-badge--dot kt-badge--sm"></span>

                </div>
              </div>
              <!--end::Section-->

              <!--begin::Section-->
              <div class="kt-section">
                <span class="kt-section__info">
                  Wide badges for longer text:
                </span>
                <div class="kt-section__content kt-section__content--solid">
                  <span class="kt-badge kt-badge--brand kt-badge--inline">new</span>
                  <span class="kt-badge kt-badge--dark kt-badge--inline">pending</span>
                  <span class="kt-badge kt-badge--primary kt-badge--inline">203</span>
                  <span class="kt-badge kt-badge--success kt-badge--inline">hot</span>
                  <span class="kt-badge kt-badge--info kt-badge--inline">fixed</span>
                  <span class="kt-badge kt-badge--warning kt-badge--inline">in process</span>
                  <span class="kt-badge kt-badge--danger kt-badge--inline">completed</span>

                </div>
              </div>
              <!--end::Section-->

              <!--begin::Section-->
              <div class="kt-section">
                <span class="kt-section__info">
                  Rounded badges examples:
                </span>
                <div class="kt-section__content kt-section__content--solid">
                  <span class="kt-badge kt-badge--brand kt-badge--inline kt-badge--pill kt-badge--rounded">new</span>
                  <span class="kt-badge kt-badge--dark kt-badge--inline kt-badge--pill kt-badge--rounded">pending</span>
                  <span class="kt-badge kt-badge--primary kt-badge--inline kt-badge--pill kt-badge--rounded">203</span>
                  <span class="kt-badge kt-badge--success kt-badge--inline kt-badge--pill kt-badge--rounded">hot</span>
                  <span class="kt-badge kt-badge--info kt-badge--inline kt-badge--pill kt-badge--rounded">fixed</span>
                  <span class="kt-badge kt-badge--warning kt-badge--inline kt-badge--pill kt-badge--rounded">in
                    process</span>
                  <span
                    class="kt-badge kt-badge--danger kt-badge--inline kt-badge--pill kt-badge--rounded">completed</span>

                </div>
              </div>
              <!--end::Section-->
            </div>
          </div>
          <!--end::Portlet-->

          <!--begin::Portlet-->
          <div class="kt-portlet kt-portlet--tab">
            <div class="kt-portlet__head">
              <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon kt-hide">
                  <i class="la la-gear"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                  Outline Badges
                </h3>
              </div>
            </div>
            <div class="kt-portlet__body">
              <!--begin::Section-->
              <div class="kt-section">
                <span class="kt-section__info">
                  Basic state color badges:
                </span>
                <div class="kt-section__content kt-section__content--solid">
                  <span class="kt-badge kt-badge--outline kt-badge--dark">3</span>
                  <span class="kt-badge kt-badge--outline kt-badge--info">4</span>
                  <span class="kt-badge kt-badge--outline kt-badge--danger">7</span>
                  <span class="kt-badge kt-badge--outline kt-badge--primary">8</span>
                  <span class="kt-badge kt-badge--outline kt-badge--warning">1</span>
                  <span class="kt-badge kt-badge--outline kt-badge--success">2</span>
                  <span class="kt-badge kt-badge--outline kt-badge--brand">5</span>

                  <div class="kt-separator kt-separator--border-dashed"></div>

                  <span class="kt-badge kt-badge--outline kt-badge--outline-2x kt-badge--dark">3</span>
                  <span class="kt-badge kt-badge--outline kt-badge--outline-2x kt-badge--info">4</span>
                  <span class="kt-badge kt-badge--outline kt-badge--outline-2x kt-badge--danger">7</span>
                  <span class="kt-badge kt-badge--outline kt-badge--outline-2x kt-badge--primary">8</span>
                  <span class="kt-badge kt-badge--outline kt-badge--outline-2x kt-badge--warning">1</span>
                  <span class="kt-badge kt-badge--outline kt-badge--outline-2x kt-badge--success">2</span>
                  <span class="kt-badge kt-badge--outline kt-badge--outline-2x kt-badge--brand">5</span>

                </div>
              </div>
              <!--end::Section-->
            </div>
          </div>
          <!--end::Portlet-->

          <!--begin::Portlet-->
          <div class="kt-portlet kt-portlet--tab">
            <div class="kt-portlet__head">
              <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon kt-hide">
                  <i class="la la-gear"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                  Outline Badges
                </h3>
              </div>
            </div>
            <div class="kt-portlet__body">
              <!--begin::Section-->
              <div class="kt-section">
                <span class="kt-section__info">
                  Basic state color badges:
                </span>
                <div class="kt-section__content kt-section__content--solid">
                  <div class="kt-badge kt-badge__pics">
                    <a href="#" class="kt-badge__pic" data-toggle="kt-tooltip" data-skin="brand" data-placement="top"
                      title="" data-original-title="John Myer">
                      <img src="./assets/media/users/100_1.jpg" alt="image">
                    </a>
                    <a href="#" class="kt-badge__pic" data-toggle="kt-tooltip" data-skin="brand" data-placement="top"
                      title="" data-original-title="Alison Brandy">
                      <img src="./assets/media/users/100_10.jpg" alt="image">
                    </a>
                    <a href="#" class="kt-badge__pic" data-toggle="kt-tooltip" data-skin="brand" data-placement="top"
                      title="" data-original-title="Selina Cranson">
                      <img src="./assets/media/users/100_11.jpg" alt="image">
                    </a>
                    <a href="#" class="kt-badge__pic" data-toggle="kt-tooltip" data-skin="brand" data-placement="top"
                      title="" data-original-title="Luke Walls">
                      <img src="./assets/media/users/100_2.jpg" alt="image">
                    </a>
                    <a href="#" class="kt-badge__pic" data-toggle="kt-tooltip" data-skin="brand" data-placement="top"
                      title="" data-original-title="Micheal York">
                      <img src="./assets/media/users/100_3.jpg" alt="image">
                    </a>
                    <a href="#" class="kt-badge__pic  kt-badge__pic--last">
                      +3
                    </a>
                  </div>
                </div>
              </div>
              <!--end::Section-->
            </div>
          </div>
          <!--end::Portlet-->
        </div>
      </div>
    </div>
    <!-- end:: Content -->
  </div>
</template>