<template name="upCommingTripInfo">
    <div id="map"></div>
    <div class="student-info">
        {{> displayStudentInfoInUpCommingTrip}}
    </div>
</template>

<template name="displayStudentInfoInUpCommingTrip">
    <div class="kt-portlet">
        <div class="kt-portlet__body">
            <div class="kt-widget kt-widget--user-profile-3">
                <div class="kt-widget__top">
                    <div class="kt-widget__media kt-hidden-">
                        <img src="./assets/media/users/100_1.jpg" alt="image">
                    </div>
                    <div class="kt-widget__pic kt-widget__pic--danger kt-font-danger kt-font-boldest kt-font-light kt-hidden">
                        JM
                    </div>
                    <div class="kt-widget__content">
                        <div class="kt-widget__head">
                            <a href="#" class="kt-widget__username" id="studentName">
                                Jason Muller    
                                <!-- <i class="flaticon2-correct kt-font-success"></i>   -->
                                                    
                            </a>
                            <span id="status" style="color: red; padding-bottom: 0.6rem;"><b>Chưa lên xe</b></span> 
    
                            <div class="kt-widget__action">
                                <button type="button" class="btn btn-label-success btn-sm btn-upper" id="confirmPickedUp">Đã đón</button>&nbsp;
                                <button type="button" class="btn btn-brand btn-sm btn-upper" id="confirmDroppedOut">Đã xuống xe</button>
                            </div>
                        </div>
    
                        <div class="kt-widget__subhead">
                            <div><i class="flaticon2-new-email" ></i>&nbsp;Email:&nbsp;<a id="email">jason@siastudio.com</a></div>
                            <div><i class="flaticon2-calendar-3" ></i>&nbsp;Sđt:&nbsp;<a id="phoneNumber">0975122358</a></div>
                            <div><i class="flaticon2-placeholder" ></i>&nbsp;Địa chỉ đón:&nbsp;<a id="pickupAddress">Melbourne</a></div>
                            <div><i class="flaticon2-calendar-3" ></i>&nbsp;Sđt phụ huynh:&nbsp;<a id="parentsPhoneNumber">0975122358</a></div>
                        </div>
    
                        <div class="kt-widget__info">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>