<template name="upCommingTripInfo">
    <div style="z-index: 1000; margin: 5px;">
        <div class="fa-pull-right">
            <button type="button" class="btn btn-success" id="studentListShowButton">
                Xem Danh sách học sinh
            </button>
        </div>
    </div>
    <div id="map"></div>
    <div class="student-info">
        {{> displayStudentInfoInUpCommingTrip}}
    </div>
    <div class="student-list">
        {{> displayStudentListInUpCommingTrip}}
    </div>
</template>

<template name="displayStudentInfoInUpCommingTrip">
    <div id="displayStudentInfoInUpCommingTrip">
        
    </div>

</template>

<template name="displayStudentListInUpCommingTrip">
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Lịch sử
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin::Section-->
            <div class="kt-section">
                <span class="kt-section__info">
                </span>
                <div class="kt-section__content">
                    <table class="table table-sm table-head-bg-brand">
                        <thead class="thead-inverse">
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Jhon</td>
                                <td>Stone</td>
                                <td>@jhon</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Lisa</td>
                                <td>Nilson</td>
                                <td>@lisa</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--end::Section-->
        </div>
    </div>
</template>